/* 메인탑 */
div.mntopWrap{
    background-color: black;
    color: #fff;
}
div.mntopWrap>div.menuTop{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
div.mntopWrap>div.menuTop>div.info{
    display: flex;
    justify-content: space-between;
}
div.mntopWrap>div.menuTop>div.info>h4{
    margin-right: 20px;
    line-height: 40px;
}
div.mntopWrap>div.menuTop>ul.nav{
    display: flex;
    justify-content: space-between;
}
div.mntopWrap>div.menuTop>ul.nav>li{
    margin-left: 20px;
    line-height: 40px;
}

/* 헤더 */
div.hdrWrap{
}
div.hdrWrap>div.header{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
div.hdrWrap>div.header>h1{
    
    font-size: 25px;
    text-transform: uppercase;
    line-height: 80px;
}
div.hdrWrap>div.header>h1>b{}
div.hdrWrap>div.header>ul.nav{
    display: flex;
    justify-content: space-between;
}
div.hdrWrap>div.header>ul.nav>li{
    margin-right: 20px;
    text-transform: uppercase;
    line-height: 80px;
    cursor: pointer;
    font-size: 18px;
}

/* 메인 */
div.mainWrap{
    margin-top: -80px;
    background-image: url('../image/mainbg01.jpg');
}
div.mainWrap>div.main{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
 
    padding-top: 280px;
    padding-bottom: 60px;
}
div.mainWrap>div.main>div.texts{}
div.mainWrap>div.main>div.texts>h2{
    font-size: 40px;
}
div.mainWrap>div.main>div.texts>p{
    margin-top: 20px;
    font-size: 12px;
    line-height: 20px;
    height: 40px;
    width: calc(100% / 12 * 6);
    overflow: hidden;
}
div.mainWrap>div.main>div.btns{
    display: flex;
    justify-content: space-between;
    margin-top: 200px;
}
div.mainWrap>div.main>div.btns>div.btn{
    display: flex;
    margin-top: 80px;
    justify-content: space-between;
    background-color: #fff;
    width: calc(100% / 4 - 20px);
    line-height: 60px;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    border-radius: 10px;
    text-transform: uppercase;
  
    
}
div.mainWrap>div.main>div.btns>div.btn:hover{
    background-color: rgb(190, 130, 60);
    color: #fff;
}
div.mainWrap>div.main>div.btns>div.btn>i{}
div.mainWrap>div.main>div.btns>div.btn>span{}


/* 컨텐츠 공통 */
div.cntWrap{
    margin-top: 120px;
}
div.cntWrap>div.content{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    outline: 2px solid black;
}

div.cntWrap>div.content>div.header{
    display: flex;
    justify-content: space-between;
}

div.cntWrap>div.content>div.section{}

/* 컨텐츠1 */
div.cntWrap>div.content.cnt01{}
div.cntWrap>div.content.cnt01>div.header{}
div.cntWrap>div.content.cnt01>div.header>div.hdrLeft{
    display: flex;
    align-items: center;
}
div.cntWrap>div.content.cnt01>div.header>div.hdrLeft>h2{}
div.cntWrap>div.content.cnt01>div.header>div.hdrLeft>ul.tab{
    display: flex;
    /* justify-content: space-between; */
}
div.cntWrap>div.content.cnt01>div.header>div.hdrLeft>ul.tab>li{
    margin-left: 20px;
}
div.cntWrap>div.content.cnt01>div.header>div.hdrRight{
    display: flex;
    justify-content: space-between;
    width: calc(100% / 12 * 2);
}
div.cntWrap>div.content.cnt01>div.header>div.hdrRight>div.btn{
    font-size: 25px;
    outline: 1px solid black;
    width: calc(100% / 3);
  text-align: center;
  line-height: 60px;
}

}
div.cntWrap>div.content.cnt01>div.header>div.hdrRight>div.btn>i{}
div.cntWrap>div.content.cnt01>div.section{}
div.cntWrap>div.content.cnt01>div.section>div.article{}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image{}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image.i1{}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image.i2{}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image.i3{}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image.i4{}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts{}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>h3{}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>h5{}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>p{}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>div.btn{}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>div.btn>i{}

/* 배너공통 */
div.bnrWrap{}
div.bnrWrap>div.banner{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    outline: 2px solid black;
}

/* 배너1 */
div.bnrWrap.bnrWrap01>div.banner.bnr01{
    background-color: rgb(241, 159, 36);
}
div.bnrWrap.bnrWrap01>div.banner.bnr01>h2{}
div.bnrWrap.bnrWrap01>div.banner.bnr01>p{}
div.bnrWrap.bnrWrap01>div.banner.bnr01>div.btn{
    background-color: #fff;
}

/* 컨텐츠2 */
div.cntWrap>div.content.cnt02{}
div.cntWrap>div.content.cnt02>div.header{}
div.cntWrap>div.content.cnt02>div.header>div.hdrLeft{}
div.cntWrap>div.content.cnt02>div.header>div.hdrLeft>h2{}
div.cntWrap>div.content.cnt02>div.header>div.hdrLeft>h5{}
div.cntWrap>div.content.cnt02>div.header>div.hdrRight{}
div.cntWrap>div.content.cnt02>div.section{}
div.cntWrap>div.content.cnt02>div.section>div.article{}
div.cntWrap>div.content.cnt02>div.section>div.article>div.image{}
div.cntWrap>div.content.cnt02>div.section>div.article>div.image.i1{}
div.cntWrap>div.content.cnt02>div.section>div.article>div.image.i2{}
div.cntWrap>div.content.cnt02>div.section>div.article>div.image.i3{}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts{}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts>div.txtLeft{}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts>div.txtLeft>div.score{}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts>div.txtLeft>div.score>h3{}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts>div.txtLeft>div.score>h5{}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts>div.txtLeft>h5{}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts>div.txtRight{}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts>div.txtRight>h3{}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts>div.txtRight>p{}

/* 배너2 */
div.bnrWrap.bnrWrap02{}
div.bnrWrap.bnrWrap02>div.banner.bnr02{}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.texts{}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.texts>h2{}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.texts>h5{}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.texts>p{}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.texts>div.btn{}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.image{}

/* 푸터 */
div.ftrWrap{}
div.ftrWrap>div.footer{
width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    outline: 2px solid black;}
div.ftrWrap>div.footer>div.info{}
div.ftrWrap>div.footer>div.info>h4{}
div.ftrWrap>div.footer>div.info>p{}
div.ftrWrap>div.footer>ul.nav{}
div.ftrWrap>div.footer>ul.nav>li{}