/* 헤더 */
div.hdrWrap{
    background-color: #f60;
}
div.hdrWrap>div.header{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: 700;
}
div.hdrWrap>div.header::after{
    content: '';
    display: block;
    clear: both;
}
div.hdrWrap>div.header>h1{
    float: left;
    font-size: 18px;
}

div.hdrWrap>div.header>ul.nav{
    float: right;
}
div.hdrWrap>div.header>ul.nav>li{
    color: #fff;
    font-size: 14px;
    float: left;
    padding: 0px 20px;
 
}


/* 네비박스 */
input#ch{
    display: none;
}
input#ch:checked+div.navBoxWrap{
    height: 480px;
}


div.navBoxWrap{
    background-color: #ccc;
    color: #fff;
    height: 0;
    overflow: hidden;
    transition: height 0.5s;
}
div.navBoxWrap>div.navBox{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    line-height: 20px;
    font-size: 14px;
    padding: 20px 10px 20px 30px ;
    position: relative;
    
}
div.navBoxWrap>div.navBox:hover::before{
    content: '';
    display: block;
    width: 100vw;
    height: 120px;
    background-color: rgb(100, 100, 100);
    position: absolute;
    top: 0px;
    left: calc((100vw - 1080px) / -2) ;
}
div.navBoxWrap>div.navBox:hover:hover>ul{
    position: relative;
    z-index: 1;
}
div.navBoxWrap>div.navBox::after{
    content: '';
    display: block;
    clear: both;
}
div.navBoxWrap>div.navBox>ul.nav{
    width: calc(100% / 12);
    float: left;
}
div.navBoxWrap>div.navBox>ul.nav>li{}
div.navBoxWrap>div.navBox>ul.images{
    float: right;
    width: calc(100% / 12 * 6);
}
div.navBoxWrap>div.navBox>ul.images>li.image{
    width: calc(100% / 5 - 20px);
    margin: 0 10px;
    background-color: #999;
    height: 80px;
    float: right;
}
div.navBoxWrap>div.navBox>ul.images>li.image.i1{}
div.navBoxWrap>div.navBox>ul.images>li.image.i2{}
div.navBoxWrap>div.navBox>ul.images>li.image.i3{}
div.navBoxWrap>div.navBox>ul.images>li.image.i4{}
div.navBoxWrap>div.navBox>ul.images>li.image.i5{}

/* 컨텐츠 공통 */
div.cntWrap{}
div.cntWrap>div.content{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
}
div.cntWrap>div.content>div.header{}
div.cntWrap>div.content>div.header>h2{
    text-align: center;
    font-size: 36px;
    text-transform: capitalize;
    font-weight: 700;
}
div.cntWrap>div.content>div.header>p{
    font-size: 14px;
    line-height: 20px;
    height: 40px;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}
div.cntWrap>div.content>div.section{}
div.cntWrap>div.content>div.section div.article{}
div.cntWrap>div.content>div.section div.article>div.image{
    background-color: #999;
}
div.cntWrap>div.content>div.section div.article>div.texts{}
div.cntWrap>div.content>div.section div.article>div.texts>h3{
    line-height: 40px;
    font-size: 24px;
    text-transform: capitalize;
    font-weight: 700;
}
div.cntWrap>div.content>div.section div.article>div.texts>h5{}
div.cntWrap>div.content>div.section div.article>div.texts>p{}
div.cntWrap>div.content>div.section div.article>div.texts>div.sns{
    font-size: 25px;
    line-height: 40px;
}

/* 컨텐츠1 */
div.cntWrap>div.content.cnt01{
    width: 100vw;
    max-width: 100%;
    
}
div.cntWrap>div.content.cnt01>div.header{
    background-color: #333;
    color: #fff;
    padding: 160px 0px 240px;
}
div.cntWrap>div.content.cnt01>div.header>h2{}
div.cntWrap>div.content.cnt01>div.header>p{
    width: calc(80% / 12 * 4.5);
}
div.cntWrap>div.content.cnt01>div.section{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    margin-top: -160px;
}
div.cntWrap>div.content.cnt01>div.section>div.artTop{}
div.cntWrap>div.content.cnt01>div.section>div.artTop::after{
    content: '';
    display: block;
    clear: both;
}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.article{
    width: calc(100% / 2 - 20px);
    margin: 0 10px;
    float: left;
}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.article>div.image{
    height: 340px;
}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.article>div.image.i1{}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.article>div.image.i2{}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.article>div.texts{
    padding: 20px 140px 0px 40px;
}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.article>div.texts>h3{}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.article>div.texts>h5{
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
    margin-top: 10px;
}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.article>div.texts>p{
    line-height: 20px;
    height: 80px;
    overflow: hidden;
    color: #666;
    margin-top: 10px;
}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.article>div.texts>div.sns{}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.article>div.texts>div.sns>i{}
div.cntWrap>div.content.cnt01>div.section>div.artBtm{
    margin-top: 40px;
}
div.cntWrap>div.content.cnt01>div.section>div.artBtm::after{
    content: '';
    display: block;
    clear: both;
}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.article{
    width: calc(100% / 3 - 20px);
    margin: 0 10px;
    float: left;
}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.article>div.image{
    height: 340px;
}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.article>div.image.i1{}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.article>div.image.i2{}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.article>div.texts{
    padding: 30px 20px 0px;
    text-align: center;
}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.article>div.texts>h3{}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.article>div.texts>p{
    line-height: 20px;
    height: 80px;
    overflow: hidden;
    color: #666;
}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.article>div.texts>div.sns{}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.article>div.texts>div.sns>i{}

/* 배너 */
div.bnrWrap{
    margin-top: 160px;
    background: linear-gradient(90deg, #333 0%, #666 50%, #333 100%);
}
div.bnrWrap>div.banner{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    padding: 90px 0px 80px;
}
div.bnrWrap>div.banner::after{
    content: '';
    display: block;
    clear: both;
}
div.bnrWrap>div.banner>div.image{
    width: calc((100% / 12 * 3) - 20px);
    margin: 0 10px;
    height: 240px;
    background-color: rgb(150, 150, 150);
    float: left;
}
div.bnrWrap>div.banner>div.image::after{
    content: 'article title';
    display: block;
    color: #fff;
    text-transform: capitalize;
    text-align: center;
    margin-top: 240px;
}
div.bnrWrap>div.banner>div.image.i1{}
div.bnrWrap>div.banner>div.image.i2{}
div.bnrWrap>div.banner>div.texts{
    width: calc(100% / 12 * 6);
    float: left;
    padding-top: 80px;
    color: #fff;
}
div.bnrWrap>div.banner>div.texts>h2{
    font-size: 24px;
    text-transform: capitalize;
    font-weight: 700;
}
div.bnrWrap>div.banner>div.texts>h5{
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    margin-top: 10px;
}
div.bnrWrap>div.banner>div.texts>p{
    line-height: 20px;
    height: 40px;
    overflow: hidden;
    font-size: 14px;
    margin-top: 10px;
}

/* 컨텐츠2 */

div.cntWrap:nth-last-child(2){
    margin-top: 160px;
}
div.cntWrap>div.content.cnt02{}
div.cntWrap>div.content.cnt02>div.header{}
div.cntWrap>div.content.cnt02>div.header>h2{}
div.cntWrap>div.content.cnt02>div.header>p{
    width: calc(100% / 12 * 4.5);
}
div.cntWrap>div.content.cnt02>div.section{
    margin-top: 80px;
}
div.cntWrap>div.content.cnt02>div.section>div.artTop{}
div.cntWrap>div.content.cnt02>div.section>div.artTop>div.article{
    width: calc(100% - 20px) ;
    margin: 0 10px;

}
div.cntWrap>div.content.cnt02>div.section>div.artTop>div.article>div.image{
    height: 440px;
}
div.cntWrap>div.content.cnt02>div.section>div.artTop>div.article>div.texts{
    margin-top: -80px;
    background-color: #000;
    color: #fff;
    padding: 0 calc(100% /12 * 8) 25px 10px;
}
div.cntWrap>div.content.cnt02>div.section>div.artTop>div.article>div.texts>h3{
    line-height: 40px;
}
div.cntWrap>div.content.cnt02>div.section>div.artTop>div.article>div.texts>h5{
    line-height: 20px;
}
div.cntWrap>div.content.cnt02>div.section>div.artBtm{
  margin-top: 20px;
}
div.cntWrap>div.content.cnt02>div.section>div.artBtm::after{
    content: '';
    display: block;
    clear: both; 
}
div.cntWrap>div.content.cnt02>div.section>div.artBtm>div.article{
    width: calc(100% / 6 - 20px);
    margin: 0 10px;
    float: left;
}

div.cntWrap>div.content.cnt02>div.section>div.artBtm>div.article>div.image{
    height: 80px;
    background-color: #666;

}
div.cntWrap>div.content.cnt02>div.section>div.artBtm>div.article>div.image.i1{}
div.cntWrap>div.content.cnt02>div.section>div.artBtm>div.article>div.image.i2{}
div.cntWrap>div.content.cnt02>div.section>div.artBtm>div.article>div.image.i3{}
div.cntWrap>div.content.cnt02>div.section>div.artBtm>div.article>div.image.i4{}
div.cntWrap>div.content.cnt02>div.section>div.artBtm>div.article>div.image.i5{}
div.cntWrap>div.content.cnt02>div.section>div.artBtm>div.article>div.image.i6{}
div.cntWrap>div.content.cnt02>div.section>div.artBtm>div.article>div.texts{}

/* 푸터 */
div.ftrWrap{
    background-color: #000;
    color: #fff;
    margin-top: 180px ;
}
div.ftrWrap>div.footer{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    padding: 60px 0;
}
div.ftrWrap>div.footer::after{
    content: '';
    display: block;
    clear: both;
}
div.ftrWrap>div.footer>h1{
    float: left;
    font-size: 18px;
    line-height: 40px;
    width: calc(100% / 12);
    text-transform: uppercase;
    
}
div.ftrWrap>div.footer>p{
    width: calc(100% / 12 * 6);
    float: right;
    font-size: 14px;
    line-height: 20px;
    height: 40px;
    overflow: hidden;
    text-align: right;
}