/* 메뉴탑 */
div.mnTopWrap{
    background-color: #000;
    color: #fff;
}
div.mnTopWrap>div.mnTop{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    line-height: 40px;
    font-size: 14px;
    text-transform: capitalize;
}
div.mnTopWrap>div.mnTop::after{
    content: '';
    display: block;
    clear: both;
}
div.mnTopWrap>div.mnTop>div.info{
    float: left;
    margin-right: 20px;
}
div.mnTopWrap>div.mnTop>div.info>h4{
    float: left;
}
div.mnTopWrap>div.mnTop>ul.nav{
    float: right;
}
div.mnTopWrap>div.mnTop>ul.nav>li{
    float: left;
    margin-left: 20px;
}

/* 헤더 */
div.hdrWrap{}
div.hdrWrap>div.header{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    line-height: 40px;
}
div.hdrWrap>div.header>div.hdrTop{
    padding: 40px 0px;
}
div.hdrWrap>div.header>div.hdrTop::after{
    content: '';
    display: block;
    clear: both;
}
div.hdrWrap>div.header>div.hdrTop>h4{
    width: calc(100% / 12 * 2);
    float: left;
    font-size: 12px;
}
div.hdrWrap>div.header>div.hdrTop>h4>i{
    /* background-color: #000;
    color: #fff;
    border-radius: 50%;
    margin-right: 10px;
    text-align: center;
    font-weight: 700; */

}
div.hdrWrap>div.header>div.hdrTop>h4>span{}
div.hdrWrap>div.header>div.hdrTop>h1{
    width: calc(100% / 12 * 8);
    float: left;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}
div.hdrWrap>div.header>div.hdrTop>div.btn{
    width: calc(100% / 12 * 2);
    float: left;
    font-size: 14px;
    background-color: #ff0;
    text-align: center;
    border-radius: 10px;
    padding-left: 10px;
}
div.hdrWrap>div.header>div.hdrTop>div.btn>i{
    margin-right: 10px;
}
div.hdrWrap>div.header>div.hdrTop>div.btn>span{}
div.hdrWrap>div.header>div.hdrBtm{
    background-color: #0e5f4c;
    color: #fff;
    line-height: 80px;
    font-size: 16px;
    text-transform: capitalize;
    padding-right: 30px;
    position: relative;
}
div.hdrWrap>div.header>div.hdrBtm::after{
    content: '';
    display: block;
    clear: both;
}
div.hdrWrap>div.header>div.hdrBtm>ul.nav{
    float: left;
}
div.hdrWrap>div.header>div.hdrBtm>ul.nav>li{
    float: left;
    margin-left: 30px;
}
div.hdrWrap>div.header>div.hdrBtm>ul.menu{
    float: right;
}
div.hdrWrap>div.header>div.hdrBtm>ul.menu>li{
    float: left;
    margin-left: 10px;
}
div.hdrWrap>div.header>div.hdrBtm>ul.menu>li>i{}

/* 메인 */
div.mainWrap{
    background-color: #ddd;
    margin-top: -40px;
}
div.mainWrap>div.main{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    padding: 320px 0px;
}
div.mainWrap>div.main>h2{
    font-size: 72px;
    line-height: 80px;
    
}
div.mainWrap>div.main>h5{
    font-size: 18px;
    line-height: 40px;
    animation-name: slide;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes slide {
    0%{
        margin-left: 0px;
    }
    50%{
        margin-left: 560px;
    }
    100%{
        margin-left: 0vw;
    }
}

/* 배너공통 */
div.bnrWrap{}
div.bnrWrap>div.banner{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
}

/* 배너1 */

div.bnrWrap:nth-child(4){
    margin-top: -120px;
}
div.bnrWrap>div.banner.bnr01{}
div.bnrWrap>div.banner.bnr01>div.bnrTop{}
div.bnrWrap>div.banner.bnr01>div.bnrTop::after{
    content: '';
    display: block;
    clear: both;
}
div.bnrWrap>div.banner.bnr01>div.bnrTop>div.texts{
    width: calc(100% / 4 - 20px);
    margin: 0 10px;
    float: left;
    padding: 40px calc(100% / 12 * 0.7) 40px 30px;
    background-color: #eee;
    height: 250px;
}
div.bnrWrap>div.banner.bnr01>div.bnrTop>div.texts>h3{
    font-size: 18px;
    line-height: 40px;
    text-transform: capitalize;
}
div.bnrWrap>div.banner.bnr01>div.bnrTop>div.texts>h3::before{
    content: '';
    width: 20px;
    height: 2px;
    display: block;
    background-color: #000;
}
div.bnrWrap>div.banner.bnr01>div.bnrTop>div.texts>p{
    font-size: 14px;
    line-height: 20px;
    height: 80px;
    overflow: hidden;
}
div.bnrWrap>div.banner.bnr01>div.bnrTop>div.texts>div.btn{
    background-color: #fc0;
    font-size: 14px;
    line-height: 30px;
    margin-top: 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    animation-name: move;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
    @keyframes move {
        0%{
            line-height: 30px;
            font-size: 14px;
        }
        50%{
            line-height: 60px;
            font-size: 28px;

        }
        100%{
            line-height: 30px;
            font-size: 14px;
        }
    }

div.bnrWrap>div.banner.bnr01>div.bnrBtm{
    margin-top: 40px;
}
div.bnrWrap>div.banner.bnr01>div.bnrBtm::after{
    content: '';
    display: block;
    clear: both;
}
div.bnrWrap>div.banner.bnr01>div.bnrBtm>div.menu{
    width: calc(100% / 5 - 20px);
    margin: 0px 10px;
    float: left;
}
div.bnrWrap>div.banner.bnr01>div.bnrBtm>div.menu>div.image{
    width: 42.5%;
    height: 80px;
    background-color: #999;
    border-radius: 50%;
    float: left;
}
div.bnrWrap>div.banner.bnr01>div.bnrBtm>div.menu>div.image.i1{}
div.bnrWrap>div.banner.bnr01>div.bnrBtm>div.menu>div.image.i2{}
div.bnrWrap>div.banner.bnr01>div.bnrBtm>div.menu>div.image.i3{}
div.bnrWrap>div.banner.bnr01>div.bnrBtm>div.menu>div.image.i4{}
div.bnrWrap>div.banner.bnr01>div.bnrBtm>div.menu>div.image.i5{}
div.bnrWrap>div.banner.bnr01>div.bnrBtm>div.menu>div.texts{
    width: 52%;
    float: left;
    padding-left: 10px;
    padding-top: 20px;
}
div.bnrWrap>div.banner.bnr01>div.bnrBtm>div.menu>div.texts>h5{
    font-size: 14px;
    line-height: 20px;
}
div.bnrWrap>div.banner.bnr01>div.bnrBtm>div.menu>div.texts>h2{
    font-size: 16px;
}

/* 컨텐츠 공통 */

div.cntWrap{
    margin-top: 120px;
}
div.cntWrap>div.content{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
}
div.cntWrap>div.content>div.header{
    text-align: center;
}
div.cntWrap>div.content>div.header>h5{
    font-size: 12px;
}
div.cntWrap>div.content>div.header>h2{
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    text-transform: capitalize;
}
div.cntWrap>div.content>div.header>p{
    font-size: 14px;
    line-height: 20px;
    height: 40px;
    overflow: hidden;
    width: calc(100% / 12 * 6);
    margin: 0 auto;
    margin-top: 20px;

}
div.cntWrap>div.content>div.section{
    margin-top: 40px;
}
div.cntWrap>div.content>div.section::after{
    content: '';
    display: block;
    clear: both;
}
div.cntWrap>div.content>div.section>div.article{
    width: calc(100% / 4 - 20px);
    margin: 0 10px;
    float: left;
}
div.cntWrap>div.content>div.section>div.article>div.image{
    background-color: #063;
}
div.cntWrap>div.content>div.section>div.article>div.texts{}
div.cntWrap>div.content>div.section>div.article>div.texts>h5{}
div.cntWrap>div.content>div.section>div.article>div.texts>h3{
    font-size: 18px;
    line-height: 40px;
    text-transform: capitalize;
    font-weight: 700;
}
div.cntWrap>div.content>div.section>div.article>div.texts>p{
    font-size: 14px;
    line-height: 20px;
    overflow: hidden;
}
div.cntWrap>div.content>div.section>div.article>div.texts>div.btn{
    line-height: 40px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
}

/* 컨텐츠1 */
div.cntWrap:nth-child(5){
    background-color: #ccc;
    margin-top: 40px;
}
div.cntWrap>div.content.cnt01{
    padding: 120px 0px;
}
div.cntWrap>div.content.cnt01>div.header{}
div.cntWrap>div.content.cnt01>div.header>h5{}
div.cntWrap>div.content.cnt01>div.header>h2{}
div.cntWrap>div.content.cnt01>div.header>h2::after{
    content: '';
    display: block;
    width: calc(100% / 12 );
    height: 10px;
    background-color: #063;
    margin: 0 auto;
    margin-top: 20px;
}
div.cntWrap>div.content.cnt01>div.header>p{}
div.cntWrap>div.content.cnt01>div.section{}
div.cntWrap>div.content.cnt01>div.section>div.article{}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image{
    height: 120px;
    width: calc(100% / 3 * 1.5);
    border-radius: 50%;
    margin: 0 auto;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image.i1{}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image.i2{}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image.i3{}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image.i4{}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts{
    text-align: center;
    padding: 0px 15px;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>h3{
    margin-top: 20px;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>p{
    height: 80px;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>div.btn{
    background-color: #666;
    width: calc(100% / 3 * 1.5);
    margin: 0 auto;
    margin-top: 20px;
}

/* 컨텐츠2 */
div.cntWrap>div.content.cnt02{}
div.cntWrap>div.content.cnt02>div.header{}
div.cntWrap>div.content.cnt02>div.header>h5{}
div.cntWrap>div.content.cnt02>div.header>h2{}
div.cntWrap>div.content.cnt02>div.header>h2::after{
    content: '';
    display: block;
    width: calc(100% / 12);
    height: 5px;
    background-color: #666;
    border-radius: 2px;
    margin: 0 auto;
    margin-top: 20px;
}
div.cntWrap>div.content.cnt02>div.header>p{}
div.cntWrap>div.content.cnt02>div.section{}
div.cntWrap>div.content.cnt02>div.section>div.article{}
div.cntWrap>div.content.cnt02>div.section>div.article>div.image{
    height: 200px;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.image.i1{}
div.cntWrap>div.content.cnt02>div.section>div.article>div.image.i2{}
div.cntWrap>div.content.cnt02>div.section>div.article>div.image.i3{}
div.cntWrap>div.content.cnt02>div.section>div.article>div.image.i4{}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts{
    padding-bottom: 20px;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts>h3{
    margin-top: 20px;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts>p{
    height: 60px;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts>div.btn{
    margin-top: 20px;
}

/* 배너2 */
div.bnrWrap:nth-child(7){
    margin-top: 120px;
}
div.bnrWrap>div.banner.bnr02{}
div.bnrWrap>div.banner.bnr02::after{
    content: '';
    display: block;
    clear: both;
}
div.bnrWrap>div.banner.bnr02>div.bnrLeft{
    width: 50%;
    float: left;
}
div.bnrWrap>div.banner.bnr02>div.bnrLeft>div.ovrGrid{
    width: calc((100vw - 1080px) / 2 + 100%);
    height: 840px;
    background-color: #063;
    margin-left:  calc((100vw - 1080px) / -2);
}
div.bnrWrap>div.banner.bnr02>div.bnrLeft>div.texts{
    margin-top: -840px;
    color: #fff;
    padding: 120px 0px
}
div.bnrWrap>div.banner.bnr02>div.bnrLeft>div.texts>div.header{
    padding-right: 30px;
}
div.bnrWrap>div.banner.bnr02>div.bnrLeft>div.texts>div.header>h5{
    font-size: 12px;
    line-height: 40px;
}
div.bnrWrap>div.banner.bnr02>div.bnrLeft>div.texts>div.header>h2{
    font-size: 25px;
    line-height: 40px;
    text-transform: capitalize;
}
div.bnrWrap>div.banner.bnr02>div.bnrLeft>div.texts>div.header>h2::after{
    content: '';
    display: block;
    height: 5px;
    border-radius: 2px;
    background-color: #fff;
    margin-top: 20px;
    width: calc(100% / 6);

}
div.bnrWrap>div.banner.bnr02>div.bnrLeft>div.texts>div.header>p{
    font-size: 12px;
    line-height: 20px;
    height: 40px;
    overflow: hidden;
    margin-top: 20px;

}
div.bnrWrap>div.banner.bnr02>div.bnrLeft>div.texts>form{
    margin-top: 40px;
}
div.bnrWrap>div.banner.bnr02>div.bnrLeft>div.texts>form>div.fmTop{
    padding-bottom: 20px;
    border-bottom: 1px solid white;
   
}
div.bnrWrap>div.banner.bnr02>div.bnrLeft>div.texts>form>div.fmTop>h4{
    font-size: 18px;
    line-height: 40px;
}
div.bnrWrap>div.banner.bnr02>div.bnrLeft>div.texts>form>div.fmTop>input{
    line-height: 40px;

}
div.bnrWrap>div.banner.bnr02>div.bnrLeft>div.texts>form>div.fmTop>label{
    margin-right: 30px;
    line-height: 40px;
    font-size: 14px;
}
div.bnrWrap>div.banner.bnr02>div.bnrLeft>div.texts>form>div.fmMid{
    padding: 20px 0;
    border-bottom: 1px solid white;
}
div.bnrWrap>div.banner.bnr02>div.bnrLeft>div.texts>form>div.fmMid::after{
    display: block;
    clear: both;
    content: '';
}
div.bnrWrap>div.banner.bnr02>div.bnrLeft>div.texts>form>div.fmMid>div.fmLeft{
    width: 50%;
    float: left;
}
div.bnrWrap>div.banner.bnr02>div.bnrLeft>div.texts>form>div.fmMid>div.fmLeft>h4{
    font-size: 18px;
    line-height: 40px;
}
div.bnrWrap>div.banner.bnr02>div.bnrLeft>div.texts>form>div.fmMid>div.fmLeft>input{
    line-height: 40px;
}
div.bnrWrap>div.banner.bnr02>div.bnrLeft>div.texts>form>div.fmMid>div.fmLeft>label{
    line-height: 40px;
}
div.bnrWrap>div.banner.bnr02>div.bnrLeft>div.texts>form>div.fmMid>div.fmRight{
    width: 50%;
    float: left;
}
div.bnrWrap>div.banner.bnr02>div.bnrLeft>div.texts>form>div.fmMid>div.fmRight>h4{
    font-size: 18px;
    line-height: 40px;
}
div.bnrWrap>div.banner.bnr02>div.bnrLeft>div.texts>form>div.fmMid>div.fmRight>input{
    line-height: 40px;
    width: 90%;
    background-color: #063;
    border-bottom: 1px solid white;
}
div.bnrWrap>div.banner.bnr02>div.bnrLeft>div.texts>form>div.fmBtm{
    padding: 20px 0px 40px;
}
div.bnrWrap>div.banner.bnr02>div.bnrLeft>div.texts>form>div.fmBtm>h4{
    font-size: 18px;
    line-height: 40px;
}
div.bnrWrap>div.banner.bnr02>div.bnrLeft>div.texts>form>div.fmBtm>input{
    line-height: 40px;
}
div.bnrWrap>div.banner.bnr02>div.bnrLeft>div.texts>form>div.fmBtm>label{
    line-height: 40px;
    font-size: 14px;
}
div.bnrWrap>div.banner.bnr02>div.bnrLeft>div.texts>form>div.btn{}
div.bnrWrap>div.banner.bnr02>div.bnrLeft>div.texts>form>div.btn>input{
    width: calc(100% / 6 * 2);
    line-height: 40px;
    background-color: #ff0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    border: 0;

}
div.bnrWrap>div.banner.bnr02>div.bnrRight{
    width: 50%;
    float: left;
}
div.bnrWrap>div.banner.bnr02>div.bnrRight>div.ovrGrid{
    height: 840px;
    background-color: #ccc;
    width: calc((100vw - 1080px) / 2 + 100%);
}
div.bnrWrap>div.banner.bnr02>div.bnrRight>input{}

/* 컨텐츠3 */
div.cntWrap>div.content.cnt03{}
div.cntWrap>div.content.cnt03>div.header{}
div.cntWrap>div.content.cnt03>div.header>h5{}
div.cntWrap>div.content.cnt03>div.header>h2{}
div.cntWrap>div.content.cnt03>div.header>p{}
div.cntWrap>div.content.cnt03>div.section{}
div.cntWrap>div.content.cnt03>div.section>div.article{}
div.cntWrap>div.content.cnt03>div.section>div.article>div.image{
    height: 280px;
    background-color: #ccc;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.image.i1{}
div.cntWrap>div.content.cnt03>div.section>div.article>div.image.i2{}
div.cntWrap>div.content.cnt03>div.section>div.article>div.image.i3{}
div.cntWrap>div.content.cnt03>div.section>div.article>div.image.i4{}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts{
    margin-top: -280px;
    padding: 40px 10px;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts>h5{
    font-size: 14px;
    line-height: 40px;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts>h3{
    line-height: 20px;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts>p{
    margin-top: 20px;
    height: 60px;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts>div.btn{
    
}


/* 푸터 */
div.ftrWrap{
    margin-top: 120px;
    background-color: #000;
    color: #fff;
}
div.ftrWrap>div.footer{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    padding: 40px 0 60px;
}
div.ftrWrap>div.footer::after{
    content: '';
    display: block;
    clear: both;
}
div.ftrWrap>div.footer>div.ftrLeft{
    width: calc(100% / 12 * 9);
    float: left;
}
div.ftrWrap>div.footer>div.ftrLeft>ul.nav{
    line-height: 20px;
}
div.ftrWrap>div.footer>div.ftrLeft>ul.nav::after{
    content: '';
    display: block;
    clear: both;
}
div.ftrWrap>div.footer>div.ftrLeft>ul.nav>li{
    font-size: 10px;
    float: left;
    border-right: 1px solid white;
    padding: 0 20px;
    cursor: pointer;
}
div.ftrWrap>div.footer>div.ftrLeft>ul.nav>li:nth-child(1){
    padding: 0;
    padding-right: 20px;
}
div.ftrWrap>div.footer>div.ftrLeft>ul.nav>li:nth-last-child(1){
    border: 0;
}
div.ftrWrap>div.footer>div.ftrLeft>div.info{
    margin-top: 40px;
}
div.ftrWrap>div.footer>div.ftrLeft>div.info::after{
    content: '';
    display: block;
    clear: both;
}
div.ftrWrap>div.footer>div.ftrLeft>div.info>h1{
    float: left;
    width: calc(100% / 9);
    text-transform: uppercase;
    font-weight: 700;
}
div.ftrWrap>div.footer>div.ftrLeft>div.info>div.add{
    float: left;
    width: calc(100% / 9 * 8);
}
div.ftrWrap>div.footer>div.ftrLeft>div.info>div.add>p{
    font-size: 12px;
}
div.ftrWrap>div.footer>div.ftrLeft>div.info>div.add>h4{
    font-size: 12px;
    margin-top: 20px;
    
}
div.ftrWrap>div.footer>div.ftrRight{
    width: calc(100% / 12 * 2);
    float: right;
    
}
div.ftrWrap>div.footer>div.ftrRight>select{
    width: 100%;
    height: 40px;
    background-color: #333;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
}
div.ftrWrap>div.footer>div.ftrRight>select>option{}
div.ftrWrap>div.footer>div.ftrRight>div.sns{
    text-align: center;
    font-size: 25px;
    margin-top: 40px;
}
div.ftrWrap>div.footer>div.ftrRight>div.sns>i{}
div.ftrWrap>div.footer>div.ftrRight>div.sns>i:nth-child(1){
    color: #ff0;
}