/* 메뉴탑 */
div.mntopWrap{
    background-color: #000;
}
div.mntopWrap>div.menuTop{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    line-height: 40px;
    color: #fff;
}
div.mntopWrap>div.menuTop::after{
    content: '';
    display: block;
    clear: both;
}
div.mntopWrap>div.menuTop>div.info{
    float: left;
}
div.mntopWrap>div.menuTop>div.info>h4{
    float: left;
}
div.mntopWrap>div.menuTop>ul.nav{
    float: right;
}
div.mntopWrap>div.menuTop>ul.nav>li{
    float: left;
}

/* 헤더 */
div.hdrWrap{
    background-color: #000;
}
div.hdrWrap>div.header{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    line-height: 80px;
    color: #fff;
}
div.hdrWrap>div.header::after{
    content: '';
    display: block;
    clear: both;
}
div.hdrWrap>div.header>h1{
    float: left;
}
div.hdrWrap>div.header>h1>b{
    float: left;
}
div.hdrWrap>div.header>ul.nav{
    float: right;
}
div.hdrWrap>div.header>ul.nav>li{
    float: left;
}

/* 메인 */
div.mainWrap{
    background-color: #000;
}
div.mainWrap>div.main{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    padding: 200px 0px 60px ;
}
div.mainWrap>div.main>div.texts{
    color: #fff;
}
div.mainWrap>div.main>div.texts>h2{
    line-height: 60px;
}
div.mainWrap>div.main>div.texts>p{
    line-height: 20px;
    height: 80px;
}
div.mainWrap>div.main>div.btns{}
div.mainWrap>div.main>div.btns::after{
    content: '';
    display: block;
    clear: both;
}
div.mainWrap>div.main>div.btns>div.btn{
    width: calc(100% / 4 - 20px);
    line-height: 60px;
    background-color: #fff;
    float: left;
    margin: 0 10px;
    text-align: center;
    border-radius: 10px;
}
div.mainWrap>div.main>div.btns>div.btn>i{}
div.mainWrap>div.main>div.btns>div.btn>span{}

/* 컨텐츠 공통 */
div.cntWrap{}
div.cntWrap>div.content{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
}
div.cntWrap>div.content>div.header{}
div.cntWrap>div.content>div.header>h2{
    line-height: 80px;
}
div.cntWrap>div.content>div.section{}
div.cntWrap>div.content>div.section div.article>div.image{
    background-color: #999;
}
div.cntWrap>div.content>div.section div.article>div.texts{}

/* 컨텐츠1 */
div.cntWrap>div.content.cnt01{}
div.cntWrap>div.content.cnt01>div.header{}
div.cntWrap>div.content.cnt01>div.header::after{
    content: '';
    display: block;
    clear: both;
}
div.cntWrap>div.content.cnt01>div.header>div.hdrLeft{
    float: left;
}
div.cntWrap>div.content.cnt01>div.header>div.hdrLeft::after{}
div.cntWrap>div.content.cnt01>div.header>div.hdrLeft>h2{
    float: left;
}
div.cntWrap>div.content.cnt01>div.header>div.hdrLeft>ul.tab{
    line-height: 40px;
    float: left;
}
div.cntWrap>div.content.cnt01>div.header>div.hdrLeft>ul.tab>li{
    float: left;
}
div.cntWrap>div.content.cnt01>div.header>div.hdrRight{
    float: right;
}
div.cntWrap>div.content.cnt01>div.header>div.hdrRight>div.btn{

    float: left;
    outline: 2px solid black;
}
div.cntWrap>div.content.cnt01>div.header>div.hdrRight>div.btn>i{
    line-height: 60px;
}
div.cntWrap>div.content.cnt01>div.section{
    height: 480px;
    overflow: hidden;
}
div.cntWrap>div.content.cnt01>div.section::after{
    content: '';
    display: block;
    clear: both;

}
div.cntWrap>div.content.cnt01>div.section>div.article{
    width: calc(100% / 3 - 20px);
    float: left;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image{
    height: 200px;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image.i1{}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image.i2{}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image.i3{}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image.i4{}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts{}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>h5{}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>h3{}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>p{
    line-height: 20px;
    height: 60px;
    overflow: hidden;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>div.btn{
    line-height: 40px;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>div.btn>i{}

/* 배너 */
div.bnrWrap.bnrWrap01{
    background-color: rgb(255, 216, 87);
}
div.bnrWrap.bnrWrap01>div.banner.bnr01{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    text-align: center;
}
div.bnrWrap.bnrWrap01>div.banner.bnr01>h2{}
div.bnrWrap.bnrWrap01>div.banner.bnr01>p{}
div.bnrWrap.bnrWrap01>div.banner.bnr01>div.btn{
    width: calc(100% / 12 * 1.5);
    line-height: 50px;
}

/* 컨텐츠2 */
div.cntWrap>div.content.cnt02{}
div.cntWrap>div.content.cnt02>div.header{}
div.cntWrap>div.content.cnt02>div.header>div.hdrLeft{}
div.cntWrap>div.content.cnt02>div.header>div.hdrLeft>h2{}
div.cntWrap>div.content.cnt02>div.header>div.hdrLeft>h5{}
div.cntWrap>div.content.cnt02>div.header>div.hdrRight{}
div.cntWrap>div.content.cnt02>div.section{}
div.cntWrap>div.content.cnt02>div.section>div.article{}
div.cntWrap>div.content.cnt02>div.section>div.article::after{
    content: '';
    display: block;
    clear: both;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.image{
    width: calc(100% / 12 * 3);
    height: 120px;
    float: right;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.image.i1{}
div.cntWrap>div.content.cnt02>div.section>div.article>div.image.i2{}
div.cntWrap>div.content.cnt02>div.section>div.article>div.image.i3{}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts{
    float: left;
    
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts>div.txtLeft{
    float: left;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts>div.txtLeft>div.score{}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts>div.txtLeft>div.score::after{}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts>div.txtLeft>div.score>h3{
    float: left;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts>div.txtLeft>div.score>h5{
    float: left;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts>div.txtLeft>h5{}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts>div.txtRight{
    float: right;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts>div.txtRight>h3{}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts>div.txtRight>p{
    width: calc(100% / 12 * 7);
}

/* 배너2 */
div.bnrWrap.bnrWrap02{
    background-color: rgb(86, 127, 160);
}
div.bnrWrap.bnrWrap02>div.banner.bnr02{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    color: #fff;
    padding: 120px 0;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02::after{
    content: '';
    display: block;
    clear: both;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.texts{
    float: left;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.texts>h2{
    line-height: 40px;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.texts>h5{}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.texts>p{
    width: calc(100% / 12 * 7);
    line-height: 20px;
    height: 80px;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.texts>div.btn{
    line-height: 40px;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.image{
    width: calc(100% / 12 * 4);
    background-color: #999;
    height: 240px;
    float: right;
}

/* 푸터 */
div.ftrWrap{
    background-color: #000;
}
div.ftrWrap>div.footer{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    color: #fff;
}
div.ftrWrap>div.footer>div.info{}
div.ftrWrap>div.footer>div.info>h4{}
div.ftrWrap>div.footer>div.info>p{}
div.ftrWrap>div.footer>ul.nav{}
div.ftrWrap>div.footer>ul.nav>li{}