
/* 헤더1 */
div.hdrWrap>div.header {
  width: 90%;
  max-width: 700px;
  padding: 0;
}
div.hdrWrap>div.header::after{
  content: '';
  display: block;
  clear: both;
}
div.hdrWrap>div.header>h1{
  line-height: 80px;
}
div.hdrWrap>div.header>ul.nav{
  display: none;
}

div.hdrWrap>div.header>div.btn{
  display: block;
  font-size: 40px;
  line-height: 80px;
  float: right;
}

/* 배너공통 */
div.bnrWrap>div.banner{
  width: 90%;
  max-width: 700px;
}

/* 배너1 */
div.bnrWrap.bnrWrap01>div.banner.bnr01{
  margin-top: 40px;
}
div.bnrWrap.bnrWrap01>div.banner.bnr01>div.article>div.image{
  width: 100%;
}

div.bnrWrap.bnrWrap01>div.banner.bnr01>div.note>div.image{
  display: none;
}

div.bnrWrap.bnrWrap01>div.banner.bnr01>div.note>div.texts{
  padding: 0;
}
div.bnrWrap.bnrWrap01>div.banner.bnr01>div.note>div.texts>p{
  display: none;
}
div.bnrWrap.bnrWrap01>div.banner.bnr01>div.article>div.texts{
  width: 100%;
  margin-top: -142px;
  
}
div.bnrWrap.bnrWrap01>div.banner.bnr01>div.article>div.texts>div.txtLeft{
  width: calc(100% / 8 * 7.2);
  padding-right: 80px;
  
}
div.bnrWrap.bnrWrap01>div.banner.bnr01>div.article>div.texts>div.txtLeft::after{
  content: '';
  display: block;
  clear: both;
}
div.bnrWrap.bnrWrap01>div.banner.bnr01>div.article>div.texts>div.txtLeft>h2{
  width: 45%;
  float: left;
  color: #fff;
}
div.bnrWrap.bnrWrap01>div.banner.bnr01>div.article>div.texts>div.txtLeft>h3{
  width: 53%;
  float: left;
  margin-top: 55px;
  height: 80px;
  overflow: hidden;
}
div.bnrWrap.bnrWrap01>div.banner.bnr01>div.article>div.texts>div.txtRight{
  width: calc(100% / 8 * 0.5 );
  color: #fff;
  text-align: right;
  padding-right: 10px;
  margin-top: -80px;
  
}
div.bnrWrap.bnrWrap01>div.banner.bnr01>div.article>div.texts>div.txtRight>div.btn>i{
  font-size: 35px;
  font-weight: 700;
}
div.bnrWrap.bnrWrap01>div.banner.bnr01>div.note{
  top: 374px;
  right: 180px;
}

/* 컨텐츠 공통 */
div.cntWrap{
  margin-top: 40px;
}
div.cntWrap>div.content{
  width: 90%;
  max-width: 700px;
}

/* 컨텐츠1 */

div.cntWrap>div.content.cnt01>div.header{
  padding: 0px;
}
div.cntWrap>div.content.cnt01>div.section{
  margin: 0;
}
div.cntWrap>div.content.cnt01>div.section>div.artLeft{
  width: 100%;
  outline: 2px soild red;
  float: none;
  padding: 0;
  margin: 0;
}
div.cntWrap>div.content.cnt01>div.section>div.artLeft::after{
  content: '';
  display: block;
  clear: both;
}

div.cntWrap>div.content.cnt01>div.section>div.artLeft>ul.tab::after{
  content: '';
  display: block;
  clear: both;
}
div.cntWrap>div.content.cnt01>div.section>div.artLeft>ul.tab>li{
  float: left;
  margin-right: 20px;
  line-height: 40px;
}
div.cntWrap>div.content.cnt01>div.section>div.artLeft>ul.tab>li:hover::after{

  width: 107% ;
  background-color: #ffc592;
  top: 9px;
  left: 0px;
  position: absolute;
  z-index: -1;
  
}
div.cntWrap>div.content.cnt01>div.section>div.artLeft>ul.paging{
  display: none;
}

div.cntWrap>div.content.cnt01>div.section>div.artRight{
  width: 100%;
  float: none;
  margin-top: 40px;
}
div.cntWrap>div.content.cnt01>div.section>div.artRight::after{
  content: '';
  display: block;
  clear: both;
}

div.cntWrap>div.content.cnt01>div.section>div.artRight>div.article{
  width: calc(50% - 20px);
  margin: 0 10px;
}
div.cntWrap>div.content.cnt01>div.section>div.artRight>div.btns{
  display: none;
}
div.cntWrap>div.content.cnt01>div.section>div.artRight>div.article:nth-child(2)~div.article{
  display: none;
}
div.cntWrap>div.content.cnt01>div.section>div.artRight>div.article>div.image{
  height: 400px;
}

div.cntWrap>div.content.cnt01>div.section>div.artRight>div.article>div.texts{
  text-align: center;
}

div.cntWrap>div.content.cnt01>div.section>ul.paging{
  height: 8px;
  width: calc(100% / 4 * 0.5);
  min-width: calc(100% / 4 * 0.3);
  margin: 0 auto;
  margin-top: 20px;
}
div.cntWrap>div.content.cnt01>div.section>ul.paging>li{
  width: 8px;
  height: 8px;
  background-color: #999;
  float: left;
  margin-right: 6px;
  border-radius: 4px;
}
div.cntWrap>div.content.cnt01>div.section>ul.paging>li.on{
  width: 20px;
  background-color: #000;
} 

/* 컨텐츠2 */
div.cntWrap>div.content.cnt02>div.header{
  padding: 0;
}

div.cntWrap>div.content.cnt02>div.section>div.artLeft{
  float: none;
  width: 100%;
  padding: 0;
}
div.cntWrap>div.content.cnt02>div.section>div.artLeft::after{
  content: '';
  display: block;
  clear: both;
}
div.cntWrap>div.content.cnt02>div.section>div.artRight{
  float: none;
  width: 100%;
  margin-top: 40px;
}
div.cntWrap>div.content.cnt02>div.section>div.artLeft>h3{
  float: left;
}
div.cntWrap>div.content.cnt02>div.section>div.artLeft>h5{
  float: left;
  margin: 0;
  line-height: 40px;
  margin-left: 10px;
}
div.cntWrap>div.content.cnt02>div.section>div.artLeft>h5::after{
  display: none;
}
div.cntWrap>div.content.cnt02>div.section>div.artLeft>p{
  display: none;
}
div.cntWrap>div.content.cnt02>div.section>div.artLeft>ul.paging{
 display: none;
}
div.cntWrap>div.content.cnt02>div.section>div.artRight>div.article.Left{
  width: calc(50% - 20px);
  margin: 0 10px;
}
div.cntWrap>div.content.cnt02>div.section>div.artRight>div.article.Right{
  width: calc(50% - 20px);
  margin: 0 10px;
}

div.cntWrap>div.content.cnt02>div.section>div.artRight>div.btns{
  display: none;
}

div.cntWrap>div.content.cnt02>ul.paging{
  min-width: calc(100% / 8 * 0.5);
  width: calc(100% / 8 * 0.9);
  height: 8px;
  margin: 0 auto;
  margin-top: 25px;
}
div.cntWrap>div.content.cnt02>ul.paging>li{
  width: 8px;
  height: 8px;
  background-color: #999;
  float: left;
  margin: 0px 3px;
  border-radius: 4px;
}
div.cntWrap>div.content.cnt02>ul.paging>li.on{
  width: 20px;
  background-color: #000;
}


/* 배너2 */
div.bnrWrap.bnrWrap02{
  display: none;
}

/* 컨텐츠3 */

div.cntWrap>div.content.cnt03>div.header>h2{
  text-align: left;
}

div.cntWrap>div.content.cnt03>div.header>ul.tab{
  width: 100%;
  margin: 0 auto;
  padding: 0 calc(100% / 8 * 0.5);
  margin-top: 10px;
  
}
div.cntWrap>div.content.cnt03>div.header>ul.tab>li{
  width: calc(100% / 5 - 40px);
    margin: 0px 20px;
}

div.cntWrap>div.content.cnt03>div.header>ul.tab>li:nth-child(5)~li{
  display: none;
}

div.cntWrap>div.content.cnt03>div.header>ul.tab>li>div.image{
  height: 80px;
}
div.cntWrap>div.content.cnt03>div.header>ul.paging{

  width: calc(100% / 8 * 2);
  height: 3px;
  margin: 0 auto;
  margin-top: 30px;
}
div.cntWrap>div.content.cnt03>div.header>ul.paging>li{
  width: 50%;
  height: 3px;
  background-color: rgb(202, 202, 202);
  float: left;
}
div.cntWrap>div.content.cnt03>div.header>ul.paging>li.on{

  background-color: #000;
}

div.cntWrap>div.content.cnt03>div.section div.article{
  width: calc(100% / 2 - 20px);
}
div.cntWrap>div.content.cnt03>div.section div.article:nth-child(2)~div{
  display: none;
}

div.cntWrap>div.content.cnt03>div.section div.article>div.image{
  height: 400px;
}
div.cntWrap>div.content.cnt03>div.section>ul.paging {
  min-width: calc(100% / 8 * 0.8);
  width: calc(100% / 8 * 1.6);
}

/* 배너3 */
div.bnrWrap.bnrWrap03{
  margin-top: 40px;
}
div.bnrWrap.bnrWrap03>div.banner.bnr03 {
  width: 100%;
}

div.bnrWrap.bnrWrap03>div.banner.bnr03>div.texts>h5{
  font-size: 20px;
}
div.bnrWrap.bnrWrap03>div.banner.bnr03>div.texts>h5>i{
  font-size: 25px;
}

/* 푸터 */
div.ftrWrap{
  margin-top: 40px;
}

div.ftrWrap>div.footer{
  width: 90%;
  max-width: 700px;
  padding-bottom: 80px;
}

div.ftrWrap>div.footer>div.ftrLeft{
  width: 100%;
  text-align: center;
  float: none;
}
div.ftrWrap>div.footer>div.ftrLeft>ul.nav{
  display: none;
}

div.ftrWrap>div.footer>div.ftrLeft>h1{
  font-size: 25px;
}

div.ftrWrap>div.footer>div.ftrLeft>h4:nth-last-child(2){
  display: none;
}
div.ftrWrap>div.footer>div.ftrLeft>h4{
  margin-top: 60px;
  font-size: 12px;
}

div.ftrWrap>div.footer>div.ftrRight{
  width: 100%;
  text-align: center;
  float: none;
  margin-top: -70px;
}