/* 메뉴탑 */
div.mnTopWrap{
    background-color: #000;
    color: #fff;
}
div.mnTopWrap>div.menuTop{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    line-height: 40px;
    font-size: 14px;
    text-transform: capitalize;
}
div.mnTopWrap>div.menuTop::after{
    content: '';
    display: block;
    clear: both;
}
div.mnTopWrap>div.menuTop>div.info{
    float: left;
}
div.mnTopWrap>div.menuTop>div.info>h4{
    float: left;
    margin-right: 20px;
}
div.mnTopWrap>div.menuTop>ul.nav{
    float: right;
}
div.mnTopWrap>div.menuTop>ul.nav>li{
    float: left;
    margin-left: 20px;
    cursor: pointer;
}

/* 헤더 */
div.hdrWrap{}
div.hdrWrap>div.header{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
}
div.hdrWrap>div.header>div.hdrTop{
    line-height: 40px;
    padding: 40px 0px;
}
div.hdrWrap>div.header>div.hdrTop::after{
    content: '';
    display: block;
    clear: both;
}
div.hdrWrap>div.header>div.hdrTop>h4{
    font-size: 12px;
    width: calc(100% / 12 * 2);
    float: left;
}
div.hdrWrap>div.header>div.hdrTop>h4>i{
    margin-right: 5px;
    font-size: 20px;
}
div.hdrWrap>div.header>div.hdrTop>h4>span{}
div.hdrWrap>div.header>div.hdrTop>h1{
    font-size: 24px;
    width: calc(100% / 12 * 8);
    float: left;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    
}
div.hdrWrap>div.header>div.hdrTop>div.btn{
    width: calc(100% / 12 * 2);
    float: left;
    color: rgb(78, 78, 78);
    background-color: rgb(138, 222, 255);
    padding-left: 10px;
}
div.hdrWrap>div.header>div.hdrTop>div.btn>i{
    font-size: 20px;
}
div.hdrWrap>div.header>div.hdrTop>div.btn>span{
    margin-left: 10px;
}
div.hdrWrap>div.header>div.hdrBtm{
    background-color: rgb(33, 86, 156);
    color: #fff;
    padding: 20px 30px;
    position: relative;
}
div.hdrWrap>div.header>div.hdrBtm::after{
    content: '';
    display: block;
    clear: both;
}
div.hdrWrap>div.header>div.hdrBtm>ul.nav{
    float: left;
}
div.hdrWrap>div.header>div.hdrBtm>ul.nav>li{
    float: left;
    margin-left: 20px;
    font-size: 18px;
    text-transform: capitalize;
   
}
div.hdrWrap>div.header>div.hdrBtm>ul.menu{
    float: right;
}
div.hdrWrap>div.header>div.hdrBtm>ul.menu>li{
    float: left;
}
div.hdrWrap>div.header>div.hdrBtm>ul.menu>li>i{
    font-size: 20px;
    margin-left: 5px;
}

/* 메인 */
div.mainWrap{
    background-color: rgb(240, 240, 240);
    color: rgb(33, 86, 156);
    margin-top: -40px;
}
div.mainWrap>div.main{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    padding: 320px 0px;
}
div.mainWrap>div.main>h2{
    font-size: 72px;
    line-height: 80px;
}
div.mainWrap>div.main>h5{
    font-size: 18px;
    line-height: 40px;
    margin-top: 10px;
}

/* 배너공통 */
div.bnrWrap{}
div.bnrWrap>div.banner{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
}

/* 배너1 */
div.bnrWrap>div.banner.bnr01{
    margin-top: -120px;
}
div.bnrWrap>div.banner.bnr01>div.bnrTop{}
div.bnrWrap>div.banner.bnr01>div.bnrTop::after{
    content: '';
    display: block;
    clear: both;
}
div.bnrWrap>div.banner.bnr01>div.bnrTop>div.texts{
    width: calc(100% / 4 - 20px);
    float: left;
    background-color: rgb(231, 213, 213);
    margin: 0px 10px;
    padding: 40px calc(100% / 12 ) 40px 30px 
}
div.bnrWrap>div.banner.bnr01>div.bnrTop>div.texts:hover{
    background-color: rgb(33, 86, 156);
    color: #fff;
}
div.bnrWrap>div.banner.bnr01>div.bnrTop>div.texts:hover>p{
    color: #fff;
}
div.bnrWrap>div.banner.bnr01>div.bnrTop>div.texts:hover>h3::before{
    background-color: #fff;
}
div.bnrWrap>div.banner.bnr01>div.bnrTop>div.texts:hover>div.btn{
    background-color: rgb(217, 136, 255); 
    color: #fff;
    animation-name: move;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes move{
    0%{
        background-color: rgb(217, 136, 255); 
    }
    50%{    
        background-color: rgb(113, 173, 201); 
    }
    100%{
        background-color: rgb(217, 136, 255); 
    }
}
div.bnrWrap>div.banner.bnr01>div.bnrTop>div.texts>h3{
    font-size: 18px;
    line-height: 40px;
    text-transform: capitalize;
    font-weight: 700;
}
div.bnrWrap>div.banner.bnr01>div.bnrTop>div.texts>h3::before{
    content: '';
    display: block;
    height: 2px;
    width: 18px;
    background-color: #000;
}
div.bnrWrap>div.banner.bnr01>div.bnrTop>div.texts>p{
    font-size: 14px;
    
    line-height: 20px;
    height: 80px;
    overflow: hidden;
    color: #333;
}
div.bnrWrap>div.banner.bnr01>div.bnrTop>div.texts>div.btn{
    width: calc(100% / 3 * 2.8 );
    background-color: rgb(255, 152, 56);
    line-height: 30px;
    margin-top: 10px;
    text-align: center;
    margin-left: auto;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: 700;
    color: #333;
}
div.bnrWrap>div.banner.bnr01>div.bnrBtm{
    margin-top: 40px;
}
div.bnrWrap>div.banner.bnr01>div.bnrBtm::after{
    content: '';
    display: block;
    clear: both;
}
div.bnrWrap>div.banner.bnr01>div.bnrBtm>div.menu{
    width: calc(100% / 5 - 20px);
    margin: 0px 10px;
    float: left;
    
}
div.bnrWrap>div.banner.bnr01>div.bnrBtm>div.menu>div.image{
    width: 43%;
    height: 80px;
    background-color: #666;
    border-radius: 50%;
    float: left;

}
div.bnrWrap>div.banner.bnr01>div.bnrBtm>div.menu>div.image.i1{}
div.bnrWrap>div.banner.bnr01>div.bnrBtm>div.menu>div.image.i2{}
div.bnrWrap>div.banner.bnr01>div.bnrBtm>div.menu>div.image.i3{}
div.bnrWrap>div.banner.bnr01>div.bnrBtm>div.menu>div.image.i4{}
div.bnrWrap>div.banner.bnr01>div.bnrBtm>div.menu>div.image.i5{}
div.bnrWrap>div.banner.bnr01>div.bnrBtm>div.menu>div.texts{
    float: left;
    padding: 20px 0px 20px 10px;
}
div.bnrWrap>div.banner.bnr01>div.bnrBtm>div.menu>div.texts>h5{
    font-size: 14px;
}
div.bnrWrap>div.banner.bnr01>div.bnrBtm>div.menu>div.texts>h2{
    font-size: 16px;
    font-weight: 700;
    text-transform: capitalize;
}

/* 컨텐츠공통 */
div.cntWrap{
    margin-top: 120px;
}
div.cntWrap>div.content{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
}
div.cntWrap>div.content>div.header{
    text-align: center;
}
div.cntWrap>div.content>div.header>h5{
    font-size: 12px;
    line-height: 40px;
}
div.cntWrap>div.content>div.header>h2{
    font-size: 36px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 40px;
}
div.cntWrap>div.content>div.header>p{
    font-size: 14px;
    line-height: 20px;
    overflow: hidden;
    width: calc(100% / 12 * 6);
    margin: 0 auto;
    height: 40px;
    margin-top: 20px;
}
div.cntWrap>div.content>div.section{}
div.cntWrap>div.content>div.section::after{
    content: '';
    display: block;
    clear: both;
}
div.cntWrap>div.content>div.section>div.article{
    width: calc(100% / 4 - 20px);
    margin: 0px 5px;
    float: left;
    margin-top: 40px;
}
div.cntWrap>div.content>div.section>div.article>div.image{
    background-color: rgb(33, 86, 156);
}
div.cntWrap>div.content>div.section>div.article>div.image.i1{}
div.cntWrap>div.content>div.section>div.article>div.image.i2{}
div.cntWrap>div.content>div.section>div.article>div.image.i3{}
div.cntWrap>div.content>div.section>div.article>div.image.i4{}
div.cntWrap>div.content>div.section>div.article>div.texts{}
div.cntWrap>div.content>div.section>div.article>div.texts>h5{
    font-size: 14px;
    font-weight: 700;
    text-transform: capitalize;
}
div.cntWrap>div.content>div.section>div.article>div.texts>h3{
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
}
div.cntWrap>div.content>div.section>div.article>div.texts>p{
    font-size: 14px;
    line-height: 20px;
    overflow: hidden;
}
div.cntWrap>div.content>div.section>div.article>div.texts>div.btn{
    font-weight: 700;
    text-transform: uppercase;
}

/* 컨텐츠1 */

div.cntWrap:nth-child(5){
    margin-top: 40px;
    background-color: rgb(228, 228, 228);
}
div.cntWrap>div.content.cnt01{
    padding: 120px 0px;
}
div.cntWrap>div.content.cnt01>div.header{}
div.cntWrap>div.content.cnt01>div.header>h5{}
div.cntWrap>div.content.cnt01>div.header>h2{

}
div.cntWrap>div.content.cnt01>div.header>h2::after{
    content: '';
    display: block;
    height: 10px;
    width: calc(100% / 12 * 1.3);
    background-color: #000;
    margin: 0 auto;
    margin-top: 10px;
}
div.cntWrap>div.content.cnt01>div.header>p{}
div.cntWrap>div.content.cnt01>div.section{}
div.cntWrap>div.content.cnt01>div.section>div.article{}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image{
    width: calc(100% / 3 * 1.5);
    height: 120px;
    border-radius: 50%;
    margin: 0 auto;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image.i1{}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image.i2{}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image.i3{}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image.i4{}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts{
    text-align: center;
    padding: 20px 10px 0px 10px;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>h3{
    line-height: 40px;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>p{
    height: 80px;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>div.btn{
    width: calc(100% / 3 * 1.2);
    text-align: center;
    background-color: #666;
    color: #fff;
    line-height: 40px;
    margin: 0 auto;
    margin-top: 20px;
}

/* 컨텐츠2 */
div.cntWrap>div.content.cnt02{}
div.cntWrap>div.content.cnt02>div.header{}
div.cntWrap>div.content.cnt02>div.header>h5{}
div.cntWrap>div.content.cnt02>div.header>h2{}
div.cntWrap>div.content.cnt02>div.header>h2::after{
    content: '';
    display: block;
    width: calc(100% / 12);
    height: 5px ;
    border-radius: 2px;
    background-color: #666;
    margin: 0 auto;
    margin-top: 20px;
}
div.cntWrap>div.content.cnt02>div.header>p{}
div.cntWrap>div.content.cnt02>div.section{}
div.cntWrap>div.content.cnt02>div.section>div.article{}
div.cntWrap>div.content.cnt02>div.section>div.article>div.image{
    height: 200px;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.image.i1{}
div.cntWrap>div.content.cnt02>div.section>div.article>div.image.i2{}
div.cntWrap>div.content.cnt02>div.section>div.article>div.image.i3{}
div.cntWrap>div.content.cnt02>div.section>div.article>div.image.i4{}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts{
    padding: 25px 0px;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts>h3{}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts>p{
    height: 60px;
    margin-top: 10px;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts>div.btn{
    margin-top: 20px;
}

/* 배너2 */


div.bnrWrap:nth-child(7){
    margin-top: 120px;
}
div.bnrWrap>div.banner.bnr02{}
div.bnrWrap>div.banner.bnr02::after{
    content: '';
    display: block;
    clear: both;
}
div.bnrWrap>div.banner.bnr02>div.bnrLeft{
    width: 50%;
    float: left;
    color: #fff;
}
div.bnrWrap>div.banner.bnr02>div.bnrLeft>div.ovrGrid{
    width: calc((100vw - 1080px) / 2 + 100%) ;
    background-color: rgb(33, 86, 156);
    height: 840px;
    margin-left: calc((100vw - 1080px) / -2);
}
div.bnrWrap>div.banner.bnr02>div.bnrLeft>div.texts{
    margin-top: -840px;
    padding: 120px 0px;
}
div.bnrWrap>div.banner.bnr02>div.bnrLeft>div.texts>div.header{}
div.bnrWrap>div.banner.bnr02>div.bnrLeft>div.texts>div.header>h5{
    font-size: 12px;
    line-height: 40px;
}
div.bnrWrap>div.banner.bnr02>div.bnrLeft>div.texts>div.header>h2{
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 40px;
}
div.bnrWrap>div.banner.bnr02>div.bnrLeft>div.texts>div.header>h2::after{
    content: '';
    display: block;
    width: calc(100% / 6);
    height: 5px;
    border-radius: 5px;
    background-color: #fff;
    margin-top: 10px;
}
div.bnrWrap>div.banner.bnr02>div.bnrLeft>div.texts>div.header>p{
    width: calc(100% / 6 * 5.8);
    font-size: 12px;
    line-height: 20px;
    height: 40px;
    overflow: hidden;
    margin-top: 20px;
}
div.bnrWrap>div.banner.bnr02>div.bnrLeft>div.texts>form{
    margin-top: 40px;
    line-height: 40px;
}
div.bnrWrap>div.banner.bnr02>div.bnrLeft>div.texts>form>div.fmTop{
    border-bottom: 1px solid white;
    padding-bottom: 20px;
}
div.bnrWrap>div.banner.bnr02>div.bnrLeft>div.texts>form>div.fmTop>h4{
    font-size: 18px;
}

div.bnrWrap>div.banner.bnr02>div.bnrLeft>div.texts>form>div.fmTop>input{
    margin-right: 8px;
}
div.bnrWrap>div.banner.bnr02>div.bnrLeft>div.texts>form>div.fmTop>label{
    font-size: 14px;
    margin-right: 30px;
}

div.bnrWrap>div.banner.bnr02>div.bnrLeft>div.texts>form>div.fmMid{
    border-bottom: 1px solid white;
    padding: 20px 0;
}
div.bnrWrap>div.banner.bnr02>div.bnrLeft>div.texts>form>div.fmMid::after{
    content: '';
    display: block;
    clear: both;
}
div.bnrWrap>div.banner.bnr02>div.bnrLeft>div.texts>form>div.fmMid>div.fmLeft{
    width: 50%;
    float: left;
}
div.bnrWrap>div.banner.bnr02>div.bnrLeft>div.texts>form>div.fmMid>div.fmLeft>h4{
    font-size: 18px;
    text-transform: capitalize;
}
div.bnrWrap>div.banner.bnr02>div.bnrLeft>div.texts>form>div.fmMid>div.fmLeft>input{
    margin-right: 8px;
}
div.bnrWrap>div.banner.bnr02>div.bnrLeft>div.texts>form>div.fmMid>div.fmLeft>label{}
div.bnrWrap>div.banner.bnr02>div.bnrLeft>div.texts>form>div.fmMid>div.fmRight{
    width: 50%;
    float: left;
}
div.bnrWrap>div.banner.bnr02>div.bnrLeft>div.texts>form>div.fmMid>div.fmRight>h4{
    font-size: 18px;
    text-transform: capitalize;
}
div.bnrWrap>div.banner.bnr02>div.bnrLeft>div.texts>form>div.fmMid>div.fmRight>input{
    width: 80%;
    height: 40px;
    background-color: rgb(33, 86, 156);
    border: 1px solid #fff;
}
div.bnrWrap>div.banner.bnr02>div.bnrLeft>div.texts>form>div.fmBtm{
    padding-top: 20px;
}
div.bnrWrap>div.banner.bnr02>div.bnrLeft>div.texts>form>div.fmBtm>h4{
    font-size: 18px;
    text-transform: capitalize;
}
div.bnrWrap>div.banner.bnr02>div.bnrLeft>div.texts>form>div.fmBtm>input{
    margin-right: 10px;
}
div.bnrWrap>div.banner.bnr02>div.bnrLeft>div.texts>form>div.fmBtm>label{
    text-transform: capitalize;
}
div.bnrWrap>div.banner.bnr02>div.bnrLeft>div.texts>form>div.btn{}
div.bnrWrap>div.banner.bnr02>div.bnrLeft>div.texts>form>div.btn>input{
    width: calc(100% / 6 * 2);
    height: 40px;
    background-color: rgb(255, 98, 98);
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 40px;
    border: 0;
    
}
div.bnrWrap>div.banner.bnr02>div.bnrRight{
    width: 50%;
    float: left;
}
div.bnrWrap>div.banner.bnr02>div.bnrRight>div.ovrGrid{
    width: calc((100vw - 1080px) / 2 + 100%) ;
    background-color: rgb(223, 223, 223);
    height: 840px;
}

/* 컨텐츠3 */
div.cntWrap>div.content.cnt03{}
div.cntWrap>div.content.cnt03>div.header{}
div.cntWrap>div.content.cnt03>div.header>h5{}
div.cntWrap>div.content.cnt03>div.header>h2{}
div.cntWrap>div.content.cnt03>div.header>h2::after{
    content: '';
    display: block;
    width: calc(100% / 12);
    height: 5px ;
    border-radius: 2px;
    background-color: #666;
    margin: 0 auto;
    margin-top: 20px;
}
div.cntWrap>div.content.cnt03>div.header>p{}
div.cntWrap>div.content.cnt03>div.section{}
div.cntWrap>div.content.cnt03>div.section>div.article{}
div.cntWrap>div.content.cnt03>div.section>div.article:hover>div.image{
    background-color: rgb(197, 58, 58);
   
}
div.cntWrap>div.content.cnt03>div.section>div.article:hover>div.texts{
    color: #fff;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.image{
    height: 280px;
    background-color: #999;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.image.i1{}
div.cntWrap>div.content.cnt03>div.section>div.article>div.image.i2{}
div.cntWrap>div.content.cnt03>div.section>div.article>div.image.i3{}
div.cntWrap>div.content.cnt03>div.section>div.article>div.image.i4{}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts{
    padding: 40px 20px 0px 20px;
    margin-top: -280px;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts>h5{
    line-height: 20px;
    margin-top: 10px;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts>h3{
    font-size: 18px;
    line-height: 20px;
    height: 40px;
    overflow: hidden;
    font-weight: 700;
    margin-top: 10px;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts>p{
    height: 60px;
    margin-top: 10px;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts>div.btn{
    font-weight: 700;
    line-height: 40px;
    margin-top: 10px;
}

/* 푸터 */
div.ftrWrap{
    background-color: #000;
    color: #fff;
}
div.ftrWrap>div.footer{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    margin-top: 120px;
    padding: 40px 0 60px;
}
div.ftrWrap>div.footer::after{
    content: '';
    display: block;
    clear: both;
}
div.ftrWrap>div.footer>div.ftrLeft{
    width: calc(100% / 12 * 9 );
    float: left;
}
div.ftrWrap>div.footer>div.ftrLeft>ul.nav{
    line-height: 20px;
}
div.ftrWrap>div.footer>div.ftrLeft>ul.nav::after{
    content: '';
    display: block;
    clear: both;
}
div.ftrWrap>div.footer>div.ftrLeft>ul.nav>li{
    font-size: 10px;
    float: left;
    padding: 0px 20px;
    border-right: 1px solid white;
    cursor: pointer;
}
div.ftrWrap>div.footer>div.ftrLeft>ul.nav>li:nth-child(1){
    padding-left: 0;
}
div.ftrWrap>div.footer>div.ftrLeft>ul.nav>li:nth-last-child(1){
    border: 0;
}
div.ftrWrap>div.footer>div.ftrLeft>div.info{
    margin-top: 40px;
}
div.ftrWrap>div.footer>div.ftrLeft>div.info>h1{
    float: left;
    width: calc(100% / 9);
    font-weight: 700;
    text-transform: uppercase;
}

div.ftrWrap>div.footer>div.ftrLeft>div.info>div.add{
    width: calc(100% / 9 * 8);
    font-size: 12px;
    float: left;
}
div.ftrWrap>div.footer>div.ftrLeft>div.info>div.add>p{}
div.ftrWrap>div.footer>div.ftrLeft>div.info>div.add>h4{
    margin-top: 20px;
}
div.ftrWrap>div.footer>div.ftrRight{
    width: calc(100% / 12 * 2 );
    float: right;
}
div.ftrWrap>div.footer>div.ftrRight>select{
    width: calc(100% / 2 * 1.5);
    text-align: center;
    height: 40px;
    background-color: #666;
    color: #fff;
    text-transform: capitalize;
}
div.ftrWrap>div.footer>div.ftrRight>select>option{}
div.ftrWrap>div.footer>div.ftrRight>div.sns{
    margin-top: 40px;
    text-align: center;
    font-size: 25px;
    padding-right: 40px;
}
div.ftrWrap>div.footer>div.ftrRight>div.sns>i{}
div.ftrWrap>div.footer>div.ftrRight>div.sns>i:nth-child(1){
    color: #fc0;
}