/* 메뉴탑 */
div.mntopWrap{
    background-color: #000;
    color: #fff;
}
div.mntopWrap>div.menuTop{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
}
div.mntopWrap>div.menuTop::after{
    content: '';
    display: block;
    clear: both;
}
div.mntopWrap>div.menuTop>div.logos{
    float: left;
}
div.mntopWrap>div.menuTop>div.logos>i{}

div.mntopWrap>div.menuTop>ul.nav{
    float: right;
}
div.mntopWrap>div.menuTop>ul.nav>li{
    float: left;
}

/* 헤더 */
div.hdrWrap{
    background-color: rgb(187, 149, 187);
}
div.hdrWrap>div.header{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
}
div.hdrWrap>div.header::after{
    content: '';
    display: block;
    clear: both;
}
div.hdrWrap>div.header>h1{
    float: left;
}
div.hdrWrap>div.header>h1>b{}
div.hdrWrap>div.header>ul.nav{
    float: right;
}
div.hdrWrap>div.header>ul.nav>li{
    float: left;
}
div.hdrWrap>div.header>ul.nav>li>i{}

/* 컨텐츠공통 */
div.cntWrap{}
div.cntWrap>div.content{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
}
div.cntWrap>div.content>div.header>p{}

/* 컨텐츠1 */
div.cntWrap>div.content.cnt01{}
div.cntWrap>div.content.cnt01>div.header{}
div.cntWrap>div.content.cnt01>div.header>h2{}
div.cntWrap>div.content.cnt01>div.header>p{
    width: calc(100 / 12 * 4.5);
}
div.cntWrap>div.content.cnt01>div.section{
    /* height: 1160px; */
}
div.cntWrap>div.content.cnt01>div.section>div.artTop{
    height: 560px;
}
div.cntWrap>div.content.cnt01>div.section>div.artTop::after{
    content: '';
    display: block;
    clear: both;
}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.article{
    width: calc(50% - 20px);
    float: left;
    margin: 0px 10px;
}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.article>div.image{
    height: 320px;
    background-color: #ccc;
}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.article>div.texts{
    width: clac(100 / 6 * 3.5);
}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.article>div.texts>h3{}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.article>div.texts>h5{}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.article>div.texts>p{}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.article>div.texts>div.sns{}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.article>div.texts>div.sns>i{}
div.cntWrap>div.content.cnt01>div.section>div.artBtm{
    height: 560px;
}

div.cntWrap>div.content.cnt01>div.section>div.artBtm::after{
    content: '';
    display: block;
    clear: both;
}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.article{
    width: calc(100% / 3 - 20px);
    float: left;
    margin: 0px 10px;
}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.article>div.image{
    height: 340px;
    background-color: #ccc;
}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.article>div.texts{
    width: clac(100 / 4 * 3.5);
}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.article>div.texts>h3{}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.article>div.texts>p{}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.article>div.texts>div.sns{}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.article>div.texts>div.sns>i{}

/* 컨텐츠2 */
div.cntWrap>div.content.cnt02{}
div.cntWrap>div.content.cnt02>div.header{
    width: 100vw;
    height: 560px;
    background-color: rgb(90, 64, 87);
}
div.cntWrap>div.content.cnt02>div.header>h2{}
div.cntWrap>div.content.cnt02>div.header>p{
    width: calc(100 / 12 * 8);    
}
div.cntWrap>div.content.cnt02>div.section{
    margin-top: -200px;
}
div.cntWrap>div.content.cnt02>div.section>div.article{}
div.cntWrap>div.content.cnt02>div.section>div.article::after{
    content: '';
    display: block;
    clear: both;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.image{
    height: 400px;
    width: 50%;
    background-color: #ccc;
    float: left;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts{
    height: 400px;
    width: 50%;
    float: left;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts>h3{}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts>h5{}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts>p{
    width: calc(100 / 6 * 4);
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts>div.btn{
    width: calc(100% / 6 * 2.5);
    /* height: 40px; */
    background-color: rgb(70, 52, 70);
}

/* 컨텐츠3 */
div.cntWrap>div.content.cnt03{}
div.cntWrap>div.content.cnt03>div.header{}
div.cntWrap>div.content.cnt03>div.header>h2{}
div.cntWrap>div.content.cnt03>div.header>p{}
div.cntWrap>div.content.cnt03>div.section{}
div.cntWrap>div.content.cnt03>div.section::after{
    content: '';
    display: block;
    clear: both;
}
div.cntWrap>div.content.cnt03>div.section>div.article{
    float: left;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.image{
    height: 240px;
    width: calc(100% / 4 - 20px);
    background-color: rgb(71, 71, 71);
    float: left;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts{
    width: calc(100% / 4 - 20px);
    
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts>h3{}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts>p{}

/* 푸터 */
div.ftrWrap{
    height: 360px;
    background-color: rgb(196, 149, 189);
}
div.ftrWrap>div.footer{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
}
div.ftrWrap>div.footer>h1{}
div.ftrWrap>div.footer>p{}
div.ftrWrap>div.footer>div.sns{}
div.ftrWrap>div.footer>div.sns>i{}