/* 메뉴탑 */
div.mntopWrap{
    background-color: #000;
}
div.mntopWrap>div.menuTop{
    /* 그리드 사이즈에 맞게 너비 설정 */
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    line-height: 40px;
    font-size: 20px;
    color: #fff;
}
div.mntopWrap>div.menuTop::after{
    /* 자식요소에 float주면 부모요소의 높이가 사라짐, 가상요소로 분리해주기 */
    content: '';
    display: block;
    clear: both;
}
div.mntopWrap>div.menuTop>div.logos{
    /* 왼쪽기준으로 부유시키기 */
    float: left;
}
div.mntopWrap>div.menuTop>div.logos>i{}
div.mntopWrap>div.menuTop>ul.nav{
    /* 오른쪽기준으로 부유시키기 */
    float: right;
}
div.mntopWrap>div.menuTop>ul.nav>li{
    /* 왼쪽기준으로 부유시키기 */
    float: left;
    /* 왼쪽으로 밀어 여백 넓히기 */
    padding-left: 20px;
}

/* 헤더 */
div.hdrWrap{
    background-color: rgb(217, 172, 228);
}
div.hdrWrap>div.header{
     /* 그리드 사이즈에 맞게 너비 설정 */
     width: 80%;
     max-width: 1080px;
     margin: 0 auto;
     line-height: 80px;
     font-size: 20px;
     color: #fff;
     text-transform: uppercase;
}
div.hdrWrap>div.header::after{
    /* 자식요소에 float주면 부모요소의 높이가 사라짐, 가상요소로 분리해주기 */
    content: '';
    display: block;
    clear: both;
}
div.hdrWrap>div.header>h1{
    /* 왼쪽기준으로 부유시키기 */
    float: left;
}
div.hdrWrap>div.header>h1>b{}
div.hdrWrap>div.header>ul.nav{
    /* 오른쪽기준으로 부유시키기 */
    float: right;
}
div.hdrWrap>div.header>ul.nav>li{
    /* 왼쪽기준으로 부유시키기 */
    float: left;
    /* 왼쪽으로 밀어 여백 넓히기 */
    padding-left: 50px;
}
div.hdrWrap>div.header>ul.nav>li>i{}

/* 컨텐츠 공통 */
div.cntWrap{}
div.cntWrap>div.content{
     /* 그리드 사이즈에 맞게 너비 설정 */
     width: 80%;
     max-width: 1080px;
     margin: 0 auto;
}
div.cntWrap>div.content>div.header{}
div.cntWrap>div.content>div.header>h2{
    line-height: 80px;
    font-size: 25px;
    text-transform: capitalize;
    font-weight: 700;
    /* 텍스트 가운데 정렬 */
    text-align: center;
}
div.cntWrap>div.content>div.header>p{
    /* 텍스트 박스의 높이는 40px, 텍스트만의 높이는 20px */
    line-height: 20px;
    height: 40px;
    font-size: 12px;
    /* 텍스트 가운데 정렬 */
    text-align: center;
    /*너비를 가진 텍스트 박스는 마진으로 가운데 정렬 */
    margin: 0 auto;
    /* height 사이즈를 초과한 것은 숨기기 */
    overflow: hidden;
}
div.cntWrap>div.content>div.section{
    /* 컨텐츠 공통으로 섹션과 헤더사이 80px 띄어주기 위해 마진탑사용 */
    margin-top: 80px;
}
div.cntWrap>div.content>div.section div.article{
    /* 여백 위아래 0px 좌우10px씩 */
    margin: 0 10px;
}
div.cntWrap>div.content>div.section div.article>div.image{
    background-color: #ccc;
}
div.cntWrap>div.content>div.section div.article>div.texts{}
div.cntWrap>div.content>div.section div.article>div.texts>h3{
    line-height: 40px;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 700;
}
div.cntWrap>div.content>div.section div.article>div.texts>h5{
    line-height: 40px;
    font-size: 12px;
    font-weight: 700;
}
div.cntWrap>div.content>div.section div.article>div.texts>p{
    line-height: 20px;
    font-size: 12px;
     /* height 사이즈를 초과한 것은 숨기기 */
     overflow: hidden;
}
div.cntWrap>div.content>div.section div.article>div.texts>div.sns{
    line-height: 40px;
    font-size: 20px;
}
div.cntWrap>div.content>div.section div.article>div.texts>div.sns>i{}

/* 컨텐츠1 */
div.cntWrap:nth-child(3){
    /* 컨텐츠랩의 형제중 3번째 요소로 선택, 상단에 높이 주기 */
    margin-top: 160px;
}
div.cntWrap>div.content.cnt01{}
div.cntWrap>div.content.cnt01>div.header{}
div.cntWrap>div.content.cnt01>div.header>h2{}
div.cntWrap>div.content.cnt01>div.header>p{
     /* 부모너비1080px중 /12*4.5를 차지 */
    width: calc(100% / 12 * 4.5);
}
div.cntWrap>div.content.cnt01>div.section{}
div.cntWrap>div.content.cnt01>div.section>div.artTop{}
div.cntWrap>div.content.cnt01>div.section>div.artTop::after{
    /* 가상요소 */
    content: '';
    display: block;
    clear: both;
}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.article{
    /* 아티클은 부모너비1080px중 반을 차지, 좌우 여백 10px씩 갖고있음 */
    width: calc(100% / 2 - 20px);
    /* 왼쪽기준으로 부유 시키기 */
    float: left;
}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.article>div.image{
    height: 320px;
}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.article>div.texts{
    padding-top: 20px;
    padding-left: calc(100% / 6 * 0.3) ;
    text-align: left;
}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.article>div.texts>h3{}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.article>div.texts>h5{}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.article>div.texts>p{
    width: calc(100% / 6 * 3.5);
    height: 80px;
}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.article>div.texts>div.sns{}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.article>div.texts>div.sns>i{}
div.cntWrap>div.content.cnt01>div.section>div.artBtm{
    /* 아트탑과 아트바텀 사이에 여백 주기 */
    margin-top: 40px;
}
div.cntWrap>div.content.cnt01>div.section>div.artBtm::after{
    /* 가상요소 */
    content: '';
    display: block;
    clear: both;
}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.article{
    /* 아티클은 부모너비1080px중 3분의1 을 차지, 좌우 여백 10px씩 갖고있음 */
    width: calc(100% / 3 - 20px);
    /* 왼쪽기준으로 부유 시키기 */
    float: left;
}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.article>div.image{
    height: 340px;
}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.article>div.texts{
    text-align: center;
    padding: 20px;
}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.article>div.texts>h3{}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.article>div.texts>p{
    height: 80px;
}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.article>div.texts>div.sns{}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.article>div.texts>div.sns>i{}

/* 컨텐츠2 */
div.cntWrap:nth-child(4){
    /* 컨텐츠랩의 형제중 4번째 요소로 선택, 상단에 높이 주기 */
    margin-top: 120px;
}
div.cntWrap>div.content.cnt02{
    /* 창을 아무리 키워도 가득차게 보이게 하기 위해 100%설정 */
    width: 100%;
    max-width: 100%;
}
div.cntWrap>div.content.cnt02>div.header{
    /* 배경색은 헤더부분에만 (컨텐츠에 넣으면 아티클배경까지 적용됨) */
    background-color: rgb(148, 113, 149);
    color: #fff;
    /* 헤더 라는 박스 안쪽으로 상단 160px 하단 280px로 밀어 넣기 */
    padding: 160px 0px 280px 0px ;
}
div.cntWrap>div.content.cnt02>div.header>h2{}
div.cntWrap>div.content.cnt02>div.header>p{
     /* 그리드 사이즈가 없어졌기 때문에 (부모너비 100%)중 80% /12*4.5를 차지, 넓어질수 있는 최대 너비700px를 줌 */
     width: calc(80% / 12 * 8);
     max-width: 700px;
}
div.cntWrap>div.content.cnt02>div.section{
    /* 없어진 그리드 사이드 다시 적용 */
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    /* 헤더 영역으로 -200px 올리기 */
    margin-top: -200px;
    box-shadow: 2px 4px 4px #333;
}
div.cntWrap>div.content.cnt02>div.section>div.article{
    margin: 0;
}
div.cntWrap>div.content.cnt02>div.section>div.article::after{
    /* 가상요소 */
    content: '';
    display: block;
    clear: both;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.image{
    /* 이미지 너비는 여백없이 부모사이즈의(80%,1080px)반을 차지 */
    width: 50%;
    height: 400px;
    float: left;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts{
    /* 이미지 너비는 여백없이 부모사이즈의(80%,1080px)반을 차지 */
    width: 50%;
    float: left;
    background-color: #fff;
    /* texts라는 박스 안으로 위아래 80px, 좌우로 부모요소(1080px)의 12분의 1 사이즈 패딩(안으로 밀어넣음)*/
    padding: 80px calc(100% / 12 * 1.2);
    text-align: center;
    
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts>h3{}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts>h5{}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts>p{
    height: 100px;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts>div.btn{
    /* 부모너비(texts)의 /6*2.2 를 차지  */
    width: calc(100% / 6 * 2.2);
    background-color: rgb(45, 36, 49);
    color: #fff;
    border-radius: 20px;
    line-height: 40px;
    text-transform: uppercase;
    /* margin-top: 20px; */
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
}

/* 컨텐츠3 */
div.cntWrap:nth-child(5){
    /* 컨텐츠랩의 형제중 5번째 요소로 선택, 상단에 높이 주기 */
    margin-top: 320px;
}
div.cntWrap>div.content.cnt03{}
div.cntWrap>div.content.cnt03>div.header{}
div.cntWrap>div.content.cnt03>div.header>h2{}
div.cntWrap>div.content.cnt03>div.header>p{
    /* 부모너비(1080px중 /12 * 4.5를 차지 */
    width: calc(100% /12 * 4.5);
}
div.cntWrap>div.content.cnt03>div.section{}
div.cntWrap>div.content.cnt03>div.section::after{
    /* 가상요소 */
    content: '';
    display: block;
    clear: both;
}
div.cntWrap>div.content.cnt03>div.section>div.article{
    /* 아티클은 부모너비1080px중 4분의1 을 차지, 좌우 여백 10px씩 갖고있음 */
    width: calc(100% / 4 - 20px);
    /* 왼쪽 기준으로 부유 */
    float: left;
    /* 아티클의 높이를 이미지와 같게해 이미지 높이를 초과한 것들은 숨기기 */
    height: 240px;
    overflow: hidden;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.image{
    height: 240px;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts{
    text-align: center;
    /*texts라는 박스안으로 위40px 아래 60px 좌우 20px밀어주기 */
    padding: 40px 20px 60px;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts>h3{}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts>p{
    height: 80px;
}

/* 푸터 */
div.ftrWrap{
    background-color: rgb(182, 78, 202);
    margin-top: 160px;
}
div.ftrWrap>div.footer{
     /* 그리드 사이즈에 맞게 너비 설정 */
     width: 80%;
     max-width: 1080px;
     margin: 0 auto;
     /* 푸터라는 박스 안으로 위아래 80px밀어주기 */
     padding: 80px ;
     /* 텍스트 가운데 정렬 */
     text-align: center;
     
}
div.ftrWrap>div.footer>h1{
    line-height: 80px;
    font-size: 20px;
    text-transform: uppercase;
}
div.ftrWrap>div.footer>h1>b{}
div.ftrWrap>div.footer>p{
    width: calc(100% / 12 * 4.5);
    line-height: 20px;
    font-size: 12px;
    height: 40px;
    /*너비가 있는 텍스트 박스는 가운데 정렬시 마진 사용*/
    margin: 0 auto;
    overflow: hidden;

}
div.ftrWrap>div.footer>div.sns{
    font-size: 25px;
    line-height: 80px;
}
div.ftrWrap>div.footer>div.sns>i{}