@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Lora&family=Nanum+Gothic+Coding&family=Oooh+Baby&family=Roboto:wght@300&family=Work+Sans&display=swap');


/* 헤더 */
div.hdrWrap{
  background-color: #9db691;
  background-image: url('../images/hdr01.jpg');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  

}
div.hdrWrap>div.header{
  width: 80%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 40px 0 40px;
  color: #fff;
  text-shadow: 2px 2px 6px #868686;
}

div.hdrWrap:hover>div.header>ul.nav>li{
  transition: text-shadow 0.5s;
  text-shadow: 2px 2px 4px #ff754b;

}

div.hdrWrap>div.header::after{
  content: '';
  display: block;
  clear: both;
}
div.hdrWrap>div.header>h1{
  font-size: 35px;
  line-height: 40px;
  float: left;
  text-transform: uppercase;
  font-family: 'Lora';
}
div.hdrWrap>div.header>ul.nav{
  float: right;
  text-transform: uppercase;
  cursor: pointer;
}
div.hdrWrap>div.header>ul.nav>li{
  float: left;
  font-size: 25px;
  line-height: 40px;
  margin-right: 20px;
  font-family: 'Work Sans';
}
div.hdrWrap>div.header>div.btn{
  display: none;
}


/* 컨텐츠 */
div.cntWrap{
  margin-top: 80px;
}
div.cntWrap>div.content{
  width: 80%;
  max-width: 1080px;
  margin: 0 auto;
}

div.cntWrap>div.content>div.header>div.btns{
  width: calc(100% / 12 * 2);
  margin: 0 auto;
}
div.cntWrap>div.content>div.header>div.btns::after{
  content: '';
  display: block;
  clear: both;
}
div.cntWrap>div.content>div.header>div.btns>div.btn{
  width: 50%;
  height: 40px;
  line-height: 40px;
  border: 2px solid #f8b551;
  font-weight: 700;
  font-size: 25px;
  text-transform: capitalize;
  float: left;
  text-align: center;
  font-family: 'Work Sans';
}
div.cntWrap>div.content>div.header>div.btns>div.btn:nth-child(1){
  background-color: #f8b551;
}
div.cntWrap>div.content>div.section>div.article{
  margin-top: 80px;
}

/* 홀수번 아티클 */

div.cntWrap>div.content>div.section>div.article:nth-child(odd)::after{
  content: '';
  display: block;
  clear: both;
}
div.cntWrap>div.content>div.section>div.article:nth-child(odd)>div.texts{
  float: left;
}
div.cntWrap>div.content>div.section>div.article:nth-child(odd)>div.images{
  float: left;
}
div.cntWrap>div.content>div.section>div.article:nth-child(odd)>div.images>div.bgSml{
  top: 180px;
  left: 0;
  
}
div.cntWrap>div.content>div.section>div.article:nth-child(odd)>div.images>div.image{
  top: 20px;
  left: calc(100% / 9 * 0.5);
}
div.cntWrap>div.content>div.section>div.article:nth-child(odd)>div.images>div.bgBig{
  left: calc(100% / 9 * 5.6);
}


/* 짝수번 아티클 */

div.cntWrap>div.content>div.section>div.article:nth-child(even)::after{
  content: '';
  display: block;
  clear: both;
}
div.cntWrap>div.content>div.section>div.article:nth-child(even)>div.texts{
  float: right;
}
div.cntWrap>div.content>div.section>div.article:nth-child(even)>div.images{
  float: right;
}
div.cntWrap>div.content>div.section>div.article:nth-child(even)>div.images>div.bgSml{
  top: 180px;
  right: 0;
}
div.cntWrap>div.content>div.section>div.article:nth-child(even)>div.images>div.image{
  top: 20px;
  right: calc(100% / 9 * 0.5);
}
div.cntWrap>div.content>div.section>div.article:nth-child(even)>div.images>div.bgBig{
  right: calc(100% / 9 * 5.6);
}
div.cntWrap>div.content>div.section>div.article>div.texts{
  width: calc(100% / 12 * 3);
  text-align: center;
  margin-right: 40px;
  padding-bottom: 80px
}
div.cntWrap>div.content>div.section>div.article>div.texts>h2{
  font-size: 65px;
  line-height: 80px;
  font-weight: 700;
  font-style: italic;
  font-family: 'Lora';
      
}
div.cntWrap>div.content>div.section>div.article>div.texts>h2::after{
  width: 1px;
  height: 30px;
  background-color: #999;
  content: '';
  display: block;
  margin: 0 auto;
}

div.cntWrap>div.content>div.section>div.article>div.texts>h4{
  width: calc(100% / 3);
  outline: 1px solid #777;
  font-style: italic;
  color: #333;
  font-size: 14px;
  line-height: 20px; 
  float: left;
  margin-top: 10px;
  font-family: 'Gowun Dodum';
  height: 20px;
  overflow: hidden;
  
  
}
div.cntWrap>div.content>div.section>div.article>div.texts>h4:nth-child(2){
  margin-left: calc(100% / 3 * 0.45);
}
div.cntWrap>div.content>div.section>div.article>div.texts>h4:nth-child(3){
  margin-left: 10px;
}
div.cntWrap>div.content>div.section>div.article>div.texts>h3{
  margin-top: 50px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  font-family: 'Nanum Gothic Coding';
}
div.cntWrap>div.content>div.section>div.article>div.texts>h5{
  font-size: 14px;
  line-height: 20px;
  color: #777;
}
div.cntWrap>div.content>div.section>div.article>div.texts>p{
  font-size: 15px;
  line-height: 20px;
  height: 40px;
  overflow: hidden;
  margin-top: 20px;
  font-family: 'Gowun Dodum';
  padding: 0px 5px;
}
div.cntWrap>div.content>div.section>div.article:nth-child(2)~div.article>div.texts>div.icons>div.icon{
  width: calc(100% / 2 - 8px);
}
div.cntWrap>div.content>div.section>div.article:nth-child(2)~div.article>div.texts>div.icons{
  padding: 0px 20px;
}
div.cntWrap>div.content>div.section>div.article>div.texts>div.icons{
  width: calc(100% / 3 * 2);
  margin: 0 auto;
  margin-top: 20px;
}
div.cntWrap>div.content>div.section>div.article>div.texts>div.icons::after{
  content: '';
  display: block;
  clear: both;
}
div.cntWrap>div.content>div.section>div.article>div.texts>div.icons>div.icon{
  width: calc(100% / 3 - 8px);
  margin: 0 4px;
  background-color: #fff;
  height: 55px;
  float: left;
}
/* 아이콘 */
div.cntWrap>div.content>div.section>div.article>div.texts>div.icons>div.icon.i1{
  background-image: url('../images/sub2_icon1.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
div.cntWrap>div.content>div.section>div.article>div.texts>div.icons>div.icon.i2{
  background-image: url('../images/sub2_icon2.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
div.cntWrap>div.content>div.section>div.article>div.texts>div.icons>div.icon.i3{
  background-image: url('../images/sub2_icon3.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
div.cntWrap>div.content>div.section>div.article>div.texts>div.icons>div.icon.i4{
  background-image: url('../images/sub2_icon4.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
div.cntWrap>div.content>div.section>div.article>div.texts>div.icons>div.icon.i5{
  background-image: url('../images/sub2_icon5.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
div.cntWrap>div.content>div.section>div.article>div.texts>div.icons>div.icon.i6{
  background-image: url('../images/sub2_icon3.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
div.cntWrap>div.content>div.section>div.article>div.texts>div.icons>div.icon.i7{
  background-image: url('../images/sub2_icon4.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
div.cntWrap>div.content>div.section>div.article>div.texts>div.icons>div.icon.i8{
  background-image: url('../images/sub2_icon3.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
div.cntWrap>div.content>div.section>div.article>div.texts>div.icons>div.icon.i9{
  background-image: url('../images/sub2_icon2.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
div.cntWrap>div.content>div.section>div.article>div.texts>div.icons>div.icon.i10{
  background-image: url('../images/sub2_icon3.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
div.cntWrap>div.content>div.section>div.article>div.texts>div.icons>div.icon.i11{
  background-image: url('../images/sub2_icon2.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
div.cntWrap>div.content>div.section>div.article>div.texts>div.icons>div.icon.i12{
  background-image: url('../images/sub2_icon3.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}


div.cntWrap>div.content>div.section>div.article>div.texts>div.btn{
  margin-top: 20px;
  cursor: pointer;
}
div.cntWrap>div.content>div.section>div.article>div.texts>div.btn>span{
  font-size: 14px;
  color: #777;
  line-height: 20px;
  font-weight: 700;
}
div.cntWrap>div.content>div.section>div.article>div.texts>div.btn>i{
  line-height: 30px;
  color: #777;
  font-weight: 700;
}

div.cntWrap>div.content>div.section>div.article>div.images{
  width: calc(100% / 12 * 9 - 40px);
  position: relative;
}
div.cntWrap>div.content>div.section>div.article>div.images>div.bgSml{
  width: calc(100% / 9 * 6);
  height: 280px;
  background-color: #ddd8d6;
  /* background-color: #f9eee3; */
  position: absolute;
  z-index: 3;
}
div.cntWrap>div.content>div.section>div.article>div.images>div.image{
  width: calc(100% / 9 * 6.5);
  height: 400px;
  background-color: #333;
  position: absolute;
  z-index: 4;
}
div.cntWrap>div.content>div.section>div.article>div.images>div.bgBig{
  /* width: calc(100% / 9 * 8.5); */
  width: calc((100vw - 1080px) / 2 + 100%);
  height: 480px;
  background-color: #fce6de;
  /* background-color: #c3bab3; */
  position: absolute;
  z-index: 2;
}

div.cntWrap>div.content>div.section>div.article>div.images>div.image.i1{
  background-image: url('../images/sub2_cntbg1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
div.cntWrap>div.content>div.section>div.article>div.images>div.image.i1::after{
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  background-image: url('../images/sub2_pd1.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
div.cntWrap>div.content>div.section>div.article>div.images>div.image.i2{
  background-image: url('../images/sub2_cntbg2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
div.cntWrap>div.content>div.section>div.article>div.images>div.image.i2::after{
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  background-image: url('../images/sub2_pd2.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
div.cntWrap>div.content>div.section>div.article>div.images>div.image.i3{
  background-image: url('../images/sub2_cntbg3.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
div.cntWrap>div.content>div.section>div.article>div.images>div.image.i3::after{
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  background-image: url('../images/sub2_pd3.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
div.cntWrap>div.content>div.section>div.article>div.images>div.image.i4{
  background-image: url('../images/sub2_cntbg4.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
div.cntWrap>div.content>div.section>div.article>div.images>div.image.i4::after{
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  background-image: url('../images/sub2_pd4.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
div.cntWrap>div.content>div.section>div.article>div.images>div.image.i5{
  background-image: url('../images/sub2_cntbg5.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
div.cntWrap>div.content>div.section>div.article>div.images>div.image.i5::after{
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  background-image: url('../images/sub2_pd5.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}


/* 푸터 */
div.ftrWrap{
  margin-top: 80px;
  background-color: #f4f4f4;
  color: #666;
}
div.ftrWrap>div.footer{
  width: 80%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 40px;
}
div.ftrWrap>div.footer::after{
  content: '';
  display: block;
  clear: both;
}

div.ftrWrap>div.footer>div.ftrLeft{
  width: calc(100% / 12 * 8);
  float: left;
}

div.ftrWrap>div.footer>div.ftrLeft>ul.nav::after{
  content: '';
  display: block;
  clear: both;
}
div.ftrWrap>div.footer>div.ftrLeft>ul.nav>li{
  float: left;
  margin-right: 20px;
  font-size: 14px;
  line-height: 20px;
}
div.ftrWrap>div.footer>div.ftrLeft>h1{
  line-height: 40px;
  font-size: 34px;
  text-transform: uppercase;
  margin-top: 20px;
  font-family: 'Lora';
}
div.ftrWrap>div.footer>div.ftrLeft>h4{
  line-height: 20px;
  margin-top: 5px;
  font-size: 14px;
}
div.ftrWrap>div.footer>div.ftrLeft>h4:nth-last-child(2){
  margin-top: 20px;
}
div.ftrWrap>div.footer>div.ftrRight{
  width: calc(100% / 12 * 3);
  float: right;
}
div.ftrWrap>div.footer>div.ftrRight>i{
  font-size: 30px;
}
